//THE SELECTOR BELOW SELECTS ALL CLASSES START WITH brd
[attribute^="brd"] {
  border: var(--border-size, 2px) var(--border-style , solid) var(--border-color);
}

.brd-sz\:1px {
  --border-size: 1px;
}
.brd-clr\:white {
  --border-color: white;
}

.brd-style\:dashed {
  --border-style: dashed;
}