.rd { border-radius: var(--border-radius); }

.rd\:s { border-radius: var(--border-radius--s); }
.rd\:xs { border-radius: var(--border-radius--xs); }
.rd\:2xs { border-radius: var(--border-radius--2xs); }

.rd\:l { border-radius: var(--border-radius--l); }
.rd\:xl { border-radius: var(--border-radius--xl); }
.rd\:2xl { border-radius: var(--border-radius--2xl); }

.rd\:0 { border-radius: 0;}
.rd\:pill { border-radius: 100000rem;}