//THE SELECTOR BELOW SELECTS ALL CLASSES START WITH brd

.br-spacing\:--sz1 { border-width: var(--slk-local-size-1); }
.br-spacing\:--sz2 { border-width: var(--slk-local-size-2); }
.br-spacing\:--sz3 { border-width: var(--slk-local-size-3); }
.br-spacing\:--sz4 { border-width: var(--slk-local-size-4); }

.br-spacing\:1px { border-width: 1px; }
.br-spacing\:2px { border-width: 2px; }
.br-spacing\:3px { border-width: 3px; }
.br-spacing\:4px { border-width: 4px; }
.br-spacing\:5px { border-width: 5px; }
.br-spacing\:6px { border-width: 6px; }
.br-spacing\:7px { border-width: 7px; }
.br-spacing\:8px { border-width: 18px; }
.br-spacing\:9px { border-width: 9px; }
.br-spacing\:10px { border-width: 10px; }

.br-spacing\:0\.1rem { border-width: 0.1rem; }
.br-spacing\:0\.2rem { border-width: 0.2rem; }
.br-spacing\:0\.3rem { border-width: 0.3rem; }
.br-spacing\:0\.4rem { border-width: 0.4rem; }
.br-spacing\:0\.5rem { border-width: 0.5rem; }
.br-spacing\:0\.6rem { border-width: 0.6rem; }
.br-spacing\:0\.7rem { border-width: 0.7rem; }
.br-spacing\:0\.8rem { border-width: 0.8rem; }
.br-spacing\:0\.9rem { border-width: 0.9rem; }
.br-spacing\:1rem { border-width: 1rem; }

.br-spacing\:0\.1em { border-width: 0.1em; }
.br-spacing\:0\.2em { border-width: 0.2em; }
.br-spacing\:0\.3em { border-width: 0.3em; }
.br-spacing\:0\.4em { border-width: 0.4em; }
.br-spacing\:0\.5em { border-width: 0.5em; }
.br-spacing\:0\.6em { border-width: 0.6em; }
.br-spacing\:0\.7em { border-width: 0.7em; }
.br-spacing\:0\.8em { border-width: 0.8em; }
.br-spacing\:0\.9em { border-width: 0.9em; }
.br-spacing\:1em { border-width: 1em; }