.rd {
  border-radius: var(--slk-border-radius);
}

.rd\:s {
  border-radius: var(--slk-border-radius--s);
}
.rd\:xs {
  border-radius: var(--slk-border-radius--xs);
}
.rd\:2xs {
  border-radius: var(--slk-border-radius--2xs);
}

.rd\:l {
  border-radius: var(--slk-border-radius--l);
}
.rd\:xl {
  border-radius: var(--slk-border-radius--xl);
}
.rd\:2xl {
  border-radius: var(--slk-border-radius--2xl);
}

.rd\:0 {
  border-radius: 0;
}
.rd\:pill {
  border-radius: 100000rem;
}
