.inset\:0 {  inset: 0; }
.inset\:auto {  inset: auto; }

.inset\:--s1 {  inset: var(--slk-local-size-1); }
.inset\:--s2 {  inset: var(--slk-local-size-2); }
.inset\:--s3 {  inset: var(--slk-local-size-3); }
.inset\:--s4 {  inset: var(--slk-local-size-4); }

.inset\:--pcn1 { inset: var(--slk-local-percentage-1);}
.inset\:--pcn2 { inset: var(--slk-local-percentage-2);}
.inset\:--pcn3 { inset: var(--slk-local-percentage-3);}
.inset\:--pcn4 { inset: var(--slk-local-percentage-4);}


.top\:auto { top: auto; }

.top\:100\% { top: 100%; }
.top\:99\% { top: 99%; }
.top\:98\% { top: 98%; }
.top\:97\% { top: 97%; }
.top\:96\% { top: 96%; }
.top\:95\% { top: 95%; }
.top\:90\% { top: 90%; }
.top\:85\% { top: 85%; }
.top\:80\% { top: 80%; }
.top\:75\% { top: 75%; }
.top\:70\% { top: 70%; }
.top\:65\% { top: 65%; }
.top\:60\% { top: 60%; }
.top\:55\% { top: 55%; }
.top\:50\% { top: 50%; }
.top\:45\% { top: 45%; }
.top\:40\% { top: 40%; }
.top\:35\% { top: 35%; }
.top\:30\% { top: 30%; }
.top\:25\% { top: 25%; }
.top\:20\% { top: 20%; }
.top\:15\% { top: 15%; }
.top\:10\% { top: 10%; }
.top\:5\% { top: 5%; }
.top\:4\% { top: 4%; }
.top\:3\% { top: 3%; }
.top\:2\% { top: 2%; }
.top\:1\% { top: 1%; }

.bottom\:100\% { bottom: 100%; }
.bottom\:99\% { bottom: 99%; }
.bottom\:98\% { bottom: 98%; }
.bottom\:97\% { bottom: 97%; }
.bottom\:96\% { bottom: 96%; }
.bottom\:95\% { bottom: 95%; }
.bottom\:90\% { bottom: 90%; }
.bottom\:85\% { bottom: 85%; }
.bottom\:80\% { bottom: 80%; }
.bottom\:75\% { bottom: 75%; }
.bottom\:70\% { bottom: 70%; }
.bottom\:65\% { bottom: 65%; }
.bottom\:60\% { bottom: 60%; }
.bottom\:55\% { bottom: 55%; }
.bottom\:50\% { bottom: 50%; }
.bottom\:45\% { bottom: 45%; }
.bottom\:40\% { bottom: 40%; }
.bottom\:35\% { bottom: 35%; }
.bottom\:30\% { bottom: 30%; }
.bottom\:25\% { bottom: 25%; }
.bottom\:20\% { bottom: 20%; }
.bottom\:15\% { bottom: 15%; }
.bottom\:10\% { bottom: 10%; }
.bottom\:5\% { bottom: 5%; }
.bottom\:4\% { bottom: 4%; }
.bottom\:3\% { bottom: 3%; }
.bottom\:2\% { bottom: 2%; }
.bottom\:1\% { bottom: 1%; }

.left\:100\% { left: 100%; }
.left\:99\% { left: 99%; }
.left\:98\% { left: 98%; }
.left\:97\% { left: 97%; }
.left\:96\% { left: 96%; }
.left\:95\% { left: 95%; }
.left\:90\% { left: 90%; }
.left\:85\% { left: 85%; }
.left\:80\% { left: 80%; }
.left\:75\% { left: 75%; }
.left\:70\% { left: 70%; }
.left\:65\% { left: 65%; }
.left\:60\% { left: 60%; }
.left\:55\% { left: 55%; }
.left\:50\% { left: 50%; }
.left\:45\% { left: 45%; }
.left\:40\% { left: 40%; }
.left\:35\% { left: 35%; }
.left\:30\% { left: 30%; }
.left\:25\% { left: 25%; }
.left\:20\% { left: 20%; }
.left\:15\% { left: 15%; }
.left\:10\% { left: 10%; }
.left\:5\% { left: 5%; }
.left\:4\% { left: 4%; }
.left\:3\% { left: 3%; }
.left\:2\% { left: 2%; }
.left\:1\% { left: 1%; }

.right\:100\% { right: 100%; }
.right\:99\% { right: 99%; }
.right\:98\% { right: 98%; }
.right\:97\% { right: 97%; }
.right\:96\% { right: 96%; }
.right\:95\% { right: 95%; }
.right\:90\% { right: 90%; }
.right\:85\% { right: 85%; }
.right\:80\% { right: 80%; }
.right\:75\% { right: 75%; }
.right\:70\% { right: 70%; }
.right\:65\% { right: 65%; }
.right\:60\% { right: 60%; }
.right\:55\% { right: 55%; }
.right\:50\% { right: 50%; }
.right\:45\% { right: 45%; }
.right\:40\% { right: 40%; }
.right\:35\% { right: 35%; }
.right\:30\% { right: 30%; }
.right\:25\% { right: 25%; }
.right\:20\% { right: 20%; }
.right\:15\% { right: 15%; }
.right\:10\% { right: 10%; }
.right\:5\% { right: 5%; }
.right\:4\% { right: 4%; }
.right\:3\% { right: 3%; }
.right\:2\% { right: 2%; }
.right\:1\% { right: 1%; }
