
.truncate { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

/* SCREEN READER ONLY; VISUALLY HIDDEN BUT STILL ON THE DOM */
.sr-only { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); white-space: nowrap; 
  /* added line */
  border: 0; }

.mobile-only {  @media screen and (min-width: 51rem) { display: none !important; }
}

.desktop-only {  @media screen and (max-width: 50.99rem) { display: none !important; }
}

.reset { all: unset; }

.hide-if-empty:empty { display: none; }