@use 'mixins/size-mixin' as size-mixins;
@mixin create-classes($class, $property, $variable) {  

  @include size-mixins.assign-percentage-var-classes($class: $class, $property: $property);

  @include size-mixins.assign-size-var-classes($class: $class, $property: $property);
  @include size-mixins.create-t-shirt-size-classes($class: $class, $property: $property, $variable: $variable);
}
@include create-classes(
    $class: pd,
    $property: padding,
    $variable: --slk-padding
  ); @include create-classes(
    $class: pd-bl,
    $property: padding-block,
    $variable: --slk-padding
  ); @include create-classes(
    $class: pd-bl-start,
    $property: padding-block-start,
    $variable: --slk-padding
  ); @include create-classes(
    $class: pd-bl-end,
    $property: padding-block-end,
    $variable: --slk-padding
  ); @include create-classes(
    $class: pd-inl,
    $property: padding-inline,
    $variable: --slk-padding
  ); @include create-classes(
    $class: pd-inl-start,
    $property: padding-inline-start,
    $variable: --slk-padding
  ); @include create-classes(
    $class: pd-inl-end,
    $property: padding-inline-end,
    $variable: --slk-padding
  ); @include create-classes(
    $class: pd-top,
    $property: padding-top,
    $variable: --slk-padding
  ); @include create-classes(
    $class: pd-btm,
    $property: padding-bottom,
    $variable: --slk-padding
  ); @include create-classes(
    $class: pd-left,
    $property: padding-left,
    $variable: --slk-padding
  ); @include create-classes(
    $class: pd-right,
    $property: padding-right,
    $variable: --slk-padding
  );