@mixin create-classes($class, $property, $variable) {
  .#{$class} {
    #{$property}: var(#{$variable});
  }

  .#{$class}\:s {
    #{$property}: var(#{$variable}--s);
  }

  .#{$class}\:xs {
    #{$property}: var(#{$variable}--xs);
  }

  @for $i from 2 through 9 {
    .#{$class}\:#{$i}xs {
      #{$property}: var(#{$variable}--#{$i}xs);
    }
  }

  .#{$class}\:l {
    #{$property}: var(#{$variable}--s);
  }

  .#{$class}\:xl {
    #{$property}: var(#{$variable}--xl);
  }

  @for $i from 2 through 9 {
    .#{$class}\:#{$i}xl {
      #{$property}: var(#{$variable}--#{$i}xl);
    }
  }
}

:root {
  @include create-classes($class: gap, $property: gap, $variable: --gap);
  @include create-classes($class: pd, $property: padding, $variable: --padding);
  @include create-classes(
    $class: pd-block,
    $property: padding-block,
    $variable: --padding
  );
  @include create-classes(
    $class: pd-block-start,
    $property: padding-block-start,
    $variable: --padding
  );
  @include create-classes(
    $class: pd-block-end,
    $property: padding-block-end,
    $variable: --padding
  );
  @include create-classes(
    $class: pd-inline,
    $property: padding-inline,
    $variable: --padding
  );
  @include create-classes(
    $class: pd-inline-start,
    $property: padding-inline-start,
    $variable: --padding
  );
  @include create-classes(
    $class: pd-inline-end,
    $property: padding-inline-end,
    $variable: --padding
  );
  @include create-classes(
    $class: pd-top,
    $property: padding-top,
    $variable: --padding
  );
  @include create-classes(
    $class: pd-btm,
    $property: padding-bottom,
    $variable: --padding
  );
  @include create-classes(
    $class: pd-left,
    $property: padding-left,
    $variable: --padding
  );
  @include create-classes(
    $class: pd-right,
    $property: padding-right,
    $variable: --padding
  );
  @include create-classes($class: mg, $property: margin, $variable: --margin);
  @include create-classes(
    $class: mg-block,
    $property: margin-block,
    $variable: --margin
  );
  @include create-classes(
    $class: mg-block-start,
    $property: margin-block-start,
    $variable: --margin
  );
  @include create-classes(
    $class: mg-block-end,
    $property: margin-block-end,
    $variable: --margin
  );
  @include create-classes(
    $class: mg-inline,
    $property: margin-inline,
    $variable: --margin
  );
  @include create-classes(
    $class: mg-inline-start,
    $property: margin-inline-start,
    $variable: --margin
  );
  @include create-classes(
    $class: mg-inline-end,
    $property: margin-inline-end,
    $variable: --margin
  );
  @include create-classes(
    $class: mg-top,
    $property: margin-top,
    $variable: --margin
  );
  @include create-classes(
    $class: mg-btm,
    $property: margin-bottom,
    $variable: --margin
  );
  @include create-classes(
    $class: mg-left,
    $property: margin-left,
    $variable: --margin
  );
  @include create-classes(
    $class: mg-right,
    $property: margin-right,
    $variable: --margin
  );
}

.mg\:auto {
  margin: auto;
}

.mg-block\:auto {
  margin-block: auto;
}

.mg-block-start\:auto {
  margin-block: auto;
}

.mg-block-end\:auto {
  margin-block: auto;
}

.mg-inline\:auto {
  margin-block: auto;
}

.mg-inline-start\:auto {
  margin-block: auto;
}

.mg-inline-end\:auto {
  margin-block: auto;
}
