.max-w\:page {
  max-width: var(--slk-max-width--page);
  margin-inline: auto;
}

.max-w\:article,
.max-width\:article {
  max-width: var(--slk-max-width--article);
  margin-inline: auto;
}

.w\:100\% {
  width: 100%;
}

.w\:full-bleed {
  width: 100%;
}
