.d\:bl { display: block; }
.d\:inl { display: inline; }
.d\:inl-bl { display: inline-block; }
.d\:flex { display: flex; }
.d\:inl-flex { display: inline-flex; }
.d\:grid { display: grid; }
.d\:inl-grid { display: inline-grid; }
.d\:flow-root { display: flow-root; }
.d\:none { display: none; }
.d\:contents { display: contents; }
.d\:table { display: table; }
.d\:table-row { display: table-row; }
.d\:list-item { display: list-item; }