@use 'mixins/size-mixin' as size-mixins;
@mixin create-classes($class, $property, $variable) {  
  .#{$class}\:auto {
  #{$property}: auto; 
  }
  @include size-mixins.assign-percentage-var-classes($class: $class, $property: $property);

  @include size-mixins.assign-size-var-classes($class: $class, $property: $property);
  @include size-mixins.create-t-shirt-size-classes($class: $class, $property: $property, $variable: $variable);
}


@include create-classes(
  $class: mg,
  $property: margin,
  $variable: --slk-margin
); @include create-classes(
  $class: mg-bl,
  $property: margin-block,
  $variable: --slk-margin
); @include create-classes(
  $class: mg-bl-start,
  $property: margin-block-start,
  $variable: --slk-margin
); @include create-classes(
  $class: mg-bl-end,
  $property: margin-block-end,
  $variable: --slk-margin
); @include create-classes(
  $class: mg-inl,
  $property: margin-inline,
  $variable: --slk-margin
); @include create-classes(
  $class: mg-inl-start,
  $property: margin-inline-start,
  $variable: --slk-margin
); @include create-classes(
  $class: mg-inl-end,
  $property: margin-inline-end,
  $variable: --slk-margin
); @include create-classes(
  $class: mg-top,
  $property: margin-top,
  $variable: --slk-margin
); @include create-classes(
  $class: mg-btm,
  $property: margin-bottom,
  $variable: --slk-margin
); @include create-classes(
  $class: mg-left,
  $property: margin-left,
  $variable: --slk-margin
); @include create-classes(
  $class: mg-right,
  $property: margin-right,
  $variable: --slk-margin
); 
