//THE SELECTOR BELOW SELECTS ALL CLASSES START WITH outld

.outl-style\:none{ outline-style: none; }
.outl-style\:auto{ outline-style: auto; }
.outl-style\:dotted{ outline-style: dotted; }
.outl-style\:dashed{ outline-style: dashed; }
.outl-style\:solid{ outline-style: solid; }
.outl-style\:double{ outline-style: double; }
.outl-style\:groove{ outline-style: groove; }
.outl-style\:ridge{ outline-style: ridge; }
.outl-style\:inset{ outline-style: inset; }
.outl-style\:outset{ outline-style: outset; }

.outl-w\:--sz1 { outline-width: var(--slk-local-size-1); }
.outl-w\:--sz2 { outline-width: var(--slk-local-size-2); }
.outl-w\:--sz3 { outline-width: var(--slk-local-size-3); }
.outl-w\:--sz4 { outline-width: var(--slk-local-size-4); }

.outl-offset\:1px { outline-offset: 1px; }
.outl-offset\:2px { outline-offset: 2px; }
.outl-offset\:3px { outline-offset: 3px; }
.outl-offset\:4px { outline-offset: 4px; }
.outl-offset\:5px { outline-offset: 5px; }
.outl-offset\:6px { outline-offset: 6px; }
.outl-offset\:7px { outline-offset: 7px; }
.outl-offset\:8px { outline-offset: 18px; }
.outl-offset\:9px { outline-offset: 9px; }
.outl-offset\:10px { outline-offset: 10px; }

.outl-offset\:0\.1em { outline-offset: 0.1em; }
.outl-offset\:0\.2em { outline-offset: 0.2em; }
.outl-offset\:0\.3em { outline-offset: 0.3em; }
.outl-offset\:0\.4em { outline-offset: 0.4em; }
.outl-offset\:0\.5em { outline-offset: 0.5em; }
.outl-offset\:0\.6em { outline-offset: 0.6em; }
.outl-offset\:0\.7em { outline-offset: 0.7em; }
.outl-offset\:0\.8em { outline-offset: 0.8em; }
.outl-offset\:0\.9em { outline-offset: 0.9em; }
.outl-offset\:1em { outline-offset: 1em; }

.outl-offset\:0\.1rem { outline-offset: 0.1rem; }
.outl-offset\:0\.2rem { outline-offset: 0.2rem; }
.outl-offset\:0\.3rem { outline-offset: 0.3rem; }
.outl-offset\:0\.4rem { outline-offset: 0.4rem; }
.outl-offset\:0\.5rem { outline-offset: 0.5rem; }
.outl-offset\:0\.6rem { outline-offset: 0.6rem; }
.outl-offset\:0\.7rem { outline-offset: 0.7rem; }
.outl-offset\:0\.8rem { outline-offset: 0.8rem; }
.outl-offset\:0\.9rem { outline-offset: 0.9rem; }
.outl-offset\:1rem { outline-offset: 1rem; }


.outl-w\:1px { outline-width: 1px; }
.outl-w\:2px { outline-width: 2px; }
.outl-w\:3px { outline-width: 3px; }
.outl-w\:4px { outline-width: 4px; }
.outl-w\:5px { outline-width: 5px; }
.outl-w\:6px { outline-width: 6px; }
.outl-w\:7px { outline-width: 7px; }
.outl-w\:8px { outline-width: 18px; }
.outl-w\:9px { outline-width: 9px; }
.outl-w\:10px { outline-width: 10px; }


.outl-w\:0\.1rem { outline-width: 0.1rem; }
.outl-w\:0\.2rem { outline-width: 0.2rem; }
.outl-w\:0\.3rem { outline-width: 0.3rem; }
.outl-w\:0\.4rem { outline-width: 0.4rem; }
.outl-w\:0\.5rem { outline-width: 0.5rem; }
.outl-w\:0\.6rem { outline-width: 0.6rem; }
.outl-w\:0\.7rem { outline-width: 0.7rem; }
.outl-w\:0\.8rem { outline-width: 0.8rem; }
.outl-w\:0\.9rem { outline-width: 0.9rem; }
.outl-w\:1rem { outline-width: 1rem; }

.outl-w\:0\.1em { outline-width: 0.1em; }
.outl-w\:0\.2em { outline-width: 0.2em; }
.outl-w\:0\.3em { outline-width: 0.3em; }
.outl-w\:0\.4em { outline-width: 0.4em; }
.outl-w\:0\.5em { outline-width: 0.5em; }
.outl-w\:0\.6em { outline-width: 0.6em; }
.outl-w\:0\.7em { outline-width: 0.7em; }
.outl-w\:0\.8em { outline-width: 0.8em; }
.outl-w\:0\.9em { outline-width: 0.9em; }
.outl-w\:1em { outline-width: 1em; }