.bx-shd\:s {
  box-shadow: var(--slk-box-shadow--s);
}

.bx-shd {
  box-shadow: var(--slk-box-shadow);
}

.bx-shd\:l {
  box-shadow: var(--slk-box-shadow--l);
}

.bx-shd\:modal {
  box-shadow: var(--slk-box-shadow--modal);
}
