.shd\:s {
  box-shadow: var(--slk-box-shadow--s);
}

.shd {
  box-shadow: var(--slk-box-shadow);
}

.shd\:l {
  box-shadow: var(--slk-box-shadow--l);
}

.shd\:modal {
  box-shadow: var(--slk-box-shadow--modal);
}
