.max-w\:page { max-width: var(--slk-max-width--page); }
.max-w\:article { max-width: var(--slk-max-width--article); }
// .w\:full-bleed { width: 100%; }

@mixin create-size-classes ($class, $property) {
  .#{$class}\:100\% { #{$property} : 100%; }
  .#{$class}\:95\% { #{$property} : 95%; }
  .#{$class}\:90\% { #{$property} : 90%; }
  .#{$class}\:85\% { #{$property} : 85%; }
  .#{$class}\:80\% { #{$property} : 80%; }
  .#{$class}\:75\% { #{$property} : 75%; }
  .#{$class}\:70\% { #{$property} : 70%; }
  .#{$class}\:65\% { #{$property} : 65%; }
  .#{$class}\:60\% { #{$property} : 60%; }
  .#{$class}\:55\% { #{$property} : 55%; }
  .#{$class}\:50\% { #{$property} : 50%; }
  .#{$class}\:45\% { #{$property} : 45%; }
  .#{$class}\:40\% { #{$property} : 40%; }
  .#{$class}\:35\% { #{$property} : 35%; }
  .#{$class}\:30\% { #{$property} : 30%; }
  .#{$class}\:25\% { #{$property} : 25%; }
  .#{$class}\:20\% { #{$property} : 20%; }
  .#{$class}\:15\% { #{$property} : 15%; }
  .#{$class}\:10\% { #{$property} : 10%; }
  .#{$class}\:5\% { #{$property} : 5%; }
  .#{$class}\:0\% { #{$property} : 0%; }
  
  .#{$class}\:min-content { #{$property} : min-content; }
  .#{$class}\:fit-content { #{$property} : fit-content; }
  .#{$class}\:max-content { #{$property} : max-content; }

  .#{$class}:--sz1 {  #{$property}: var(--slk-local-size-1); }
  .#{$class}:--sz2 {  #{$property}: var(--slk-local-size-2); }
  .#{$class}:--sz3 {  #{$property}: var(--slk-local-size-3); }
  .#{$class}:--sz4 {  #{$property}: var(--slk-local-size-4); }
}

@mixin create-all-size-classes ($class , $property) {
  @include create-size-classes ($class: $class, $property: $property);
  @include create-size-classes ($class: min-#{$class}, $property: min-#{$property});
  @include create-size-classes ($class: max-#{$class}, $property: max-#{$property});
}

@include create-all-size-classes ($class: w, $property: width);
@include create-all-size-classes ($class: h, $property: width);
@include create-all-size-classes ($class: inl-sz, $property: width);
@include create-all-size-classes ($class: bl-sz, $property: width);

