.tx-align\:center { text-align: center; }
.tx-align\:start { text-align: start; }
.tx-align\:end { text-align: end; }
.tx-align\:right { text-align: right; }
.tx-align\:left { text-align: left; }
.tx-align\:justify { text-align: justify-all; }
.tx-align\:match-parent { text-align: match-parent; }
