.transX\:0 {
  --slk-transform-x: 0;
  transform: translateX(var(--slk-transform-x))
    translateY(var(--slk-transform-y));
}
.transX\:50\% {
  --slk-transform-x: 50%;
  transform: translateX(var(--slk-transform-x))
    translateY(var(--slk-transform-y));
}
.transX\:-50\% {
  --slk-transform-x: -50%;
  transform: translateX(var(--slk-transform-x))
    translateY(var(--slk-transform-y));
}

.transY\:0 {
  --slk-transform-y: 0;
  transform: translateX(var(--slk-transform-x))
    translateY(var(--slk-transform-y));
}
.transY\:50\% {
  --slk-transform-y: 50%;
  transform: translateX(var(--slk-transform-x))
    translateY(var(--slk-transform-y));
}
.transY\:-50\% {
  --slk-transform-y: -50%;
  transform: translateX(var(--slk-transform-x))
    translateY(var(--slk-transform-y));
}
