.vertical-align\:baseline { vertical-align: baseline; }
.vertical-align\:sub { vertical-align: sub; }
.vertical-align\:super { vertical-align: super; }
.vertical-align\:text-top { vertical-align: text-top; }
.vertical-align\:text-bottom { vertical-align: text-bottom; }
.vertical-align\:middle { vertical-align: middle; }
.vertical-align\:top { vertical-align: top; }
.vertical-align\:bottom { vertical-align: bottom; }


.vertical-align\:1px { vertical-align: 1px; }
.vertical-align\:2px { vertical-align: 2px; }
.vertical-align\:3px { vertical-align: 3px; }
.vertical-align\:4px { vertical-align: 4px; }
.vertical-align\:5px { vertical-align: 5px; }
.vertical-align\:6px { vertical-align: 6px; }
.vertical-align\:7px { vertical-align: 7px; }
.vertical-align\:8px { vertical-align: 18px; }
.vertical-align\:9px { vertical-align: 9px; }
.vertical-align\:10px { vertical-align: 10px; }

.vertical-align\:0\.1rem { vertical-align: 0.1rem; }
.vertical-align\:0\.2rem { vertical-align: 0.2rem; }
.vertical-align\:0\.3rem { vertical-align: 0.3rem; }
.vertical-align\:0\.4rem { vertical-align: 0.4rem; }
.vertical-align\:0\.5rem { vertical-align: 0.5rem; }
.vertical-align\:0\.6rem { vertical-align: 0.6rem; }
.vertical-align\:0\.7rem { vertical-align: 0.7rem; }
.vertical-align\:0\.8rem { vertical-align: 0.8rem; }
.vertical-align\:0\.9rem { vertical-align: 0.9rem; }
.vertical-align\:1rem { vertical-align: 1rem; }

.vertical-align\:0\.1em { vertical-align: 0.1em; }
.vertical-align\:0\.2em { vertical-align: 0.2em; }
.vertical-align\:0\.3em { vertical-align: 0.3em; }
.vertical-align\:0\.4em { vertical-align: 0.4em; }
.vertical-align\:0\.5em { vertical-align: 0.5em; }
.vertical-align\:0\.6em { vertical-align: 0.6em; }
.vertical-align\:0\.7em { vertical-align: 0.7em; }
.vertical-align\:0\.8em { vertical-align: 0.8em; }
.vertical-align\:0\.9em { vertical-align: 0.9em; }
.vertical-align\:1em { vertical-align: 1em; }