:root {
  /* values are same for light and dark theme */
--rdx-black-a-1: hsla(0, 0%, 0%, 0.012);
--rdx-black-a-2: hsla(0, 0%, 0%, 0.027);
--rdx-black-a-3: hsla(0, 0%, 0%, 0.047);
--rdx-black-a-4: hsla(0, 0%, 0%, 0.071);
--rdx-black-a-5: hsla(0, 0%, 0%, 0.090);
--rdx-black-a-6: hsla(0, 0%, 0%, 0.114);
--rdx-black-a-7: hsla(0, 0%, 0%, 0.141);
--rdx-black-a-8: hsla(0, 0%, 0%, 0.220);
--rdx-black-a-9: hsla(0, 0%, 0%, 0.439);
--rdx-black-a-10: hsla(0, 0%, 0%, 0.478);
--rdx-black-a-11: hsla(0, 0%, 0%, 0.565);
--rdx-black-a-12: hsla(0, 0%, 0%, 0.910);
}