:root {
  @media (prefers-color-scheme: dark) {
    --rdx-amber-1: hsl(36, 100%, 6.1%);
    --rdx-amber-2: hsl(35, 100%, 7.6%);
    --rdx-amber-3: hsl(32, 100%, 10.2%);
    --rdx-amber-4: hsl(32, 100%, 12.4%);
    --rdx-amber-5: hsl(33, 100%, 14.6%);
    --rdx-amber-6: hsl(35, 100%, 17.1%);
    --rdx-amber-7: hsl(35, 91.0%, 21.6%);
    --rdx-amber-8: hsl(36, 100%, 25.5%);
    --rdx-amber-9: hsl(39, 100%, 57.0%);
    --rdx-amber-10: hsl(43, 100%, 64.0%);
    --rdx-amber-11: hsl(39, 90.0%, 49.8%);
    --rdx-amber-12: hsl(39, 97.0%, 93.2%);

    --rdx-amber-a-1: hsla(0, 0%, 0%, 0);
    --rdx-amber-a-2: hsla(31, 100%, 49.7%, 0.036);
    --rdx-amber-a-3: hsla(27, 100%, 49.9%, 0.094);
    --rdx-amber-a-4: hsla(29, 100%, 50.0%, 0.143);
    --rdx-amber-a-5: hsla(31, 100%, 50.0%, 0.192);
    --rdx-amber-a-6: hsla(35, 100%, 50.0%, 0.250);
    --rdx-amber-a-7: hsla(34, 99.6%, 52.9%, 0.331);
    --rdx-amber-a-8: hsla(36, 100%, 50.0%, 0.442);
    --rdx-amber-a-9: hsla(40, 100%, 57.2%, 0.980);
    --rdx-amber-a-10: hsla(44, 100%, 64.2%, 0.980);
    --rdx-amber-a-11: hsla(39, 99.9%, 52.7%, 0.938);
    --rdx-amber-a-12: hsla(45, 100%, 94.2%, 0.980);

    --rdx-blue-1: hsl(212, 35.0%, 9.2%);
    --rdx-blue-2: hsl(216, 50.0%, 11.8%);
    --rdx-blue-3: hsl(214, 59.4%, 15.3%);
    --rdx-blue-4: hsl(214, 65.8%, 17.9%);
    --rdx-blue-5: hsl(213, 71.2%, 20.2%);
    --rdx-blue-6: hsl(212, 77.4%, 23.1%);
    --rdx-blue-7: hsl(211, 85.1%, 27.4%);
    --rdx-blue-8: hsl(211, 89.7%, 34.1%);
    --rdx-blue-9: hsl(206, 100%, 50.0%);
    --rdx-blue-10: hsl(209, 100%, 60.6%);
    --rdx-blue-11: hsl(210, 100%, 66.1%);
    --rdx-blue-12: hsl(206, 98.0%, 95.8%);

    --rdx-blue-a-1: hsla(0, 0%, 0%, 0);
    --rdx-blue-a-2: hsla(221, 97.8%, 52.4%, 0.059);
    --rdx-blue-a-3: hsla(215, 99.3%, 54.2%, 0.135);
    --rdx-blue-a-4: hsla(215, 99.3%, 53.8%, 0.198);
    --rdx-blue-a-5: hsla(213, 99.4%, 52.8%, 0.252);
    --rdx-blue-a-6: hsla(212, 99.9%, 51.7%, 0.323);
    --rdx-blue-a-7: hsla(211, 100%, 50.7%, 0.435);
    --rdx-blue-a-8: hsla(211, 99.8%, 50.9%, 0.597);
    --rdx-blue-a-9: hsla(205, 100%, 50.0%, 0.980);
    --rdx-blue-a-10: hsla(208, 100%, 60.7%, 0.980);
    --rdx-blue-a-11: hsla(209, 100%, 66.3%, 0.980);
    --rdx-blue-a-12: hsla(196, 100%, 96.8%, 0.980);

    --rdx-bronze-1: hsl(17, 10.0%, 8.8%);
    --rdx-bronze-2: hsl(15, 14.8%, 10.6%);
    --rdx-bronze-3: hsl(15, 16.3%, 14.3%);
    --rdx-bronze-4: hsl(16, 17.1%, 17.2%);
    --rdx-bronze-5: hsl(16, 17.6%, 19.6%);
    --rdx-bronze-6: hsl(16, 18.1%, 22.9%);
    --rdx-bronze-7: hsl(17, 18.8%, 28.8%);
    --rdx-bronze-8: hsl(17, 19.6%, 38.0%);
    --rdx-bronze-9: hsl(17, 20.0%, 54.0%);
    --rdx-bronze-10: hsl(18, 24.0%, 59.0%);
    --rdx-bronze-11: hsl(18, 35.0%, 68.5%);
    --rdx-bronze-12: hsl(18, 57.0%, 94.1%);

    --rdx-bronze-a-1: hsla(0, 0%, 0%, 0);
    --rdx-bronze-a-2: hsla(20, 88.2%, 74.2%, 0.027);
    --rdx-bronze-a-3: hsla(10, 99.4%, 83.0%, 0.074);
    --rdx-bronze-a-4: hsla(18, 96.0%, 81.1%, 0.114);
    --rdx-bronze-a-5: hsla(18, 99.4%, 81.7%, 0.148);
    --rdx-bronze-a-6: hsla(15, 98.1%, 82.4%, 0.192);
    --rdx-bronze-a-7: hsla(16, 99.2%, 82.9%, 0.270);
    --rdx-bronze-a-8: hsla(18, 99.5%, 82.6%, 0.396);
    --rdx-bronze-a-9: hsla(18, 99.3%, 85.0%, 0.592);
    --rdx-bronze-a-10: hsla(18, 99.6%, 85.2%, 0.657);
    --rdx-bronze-a-11: hsla(17, 99.9%, 86.1%, 0.774);
    --rdx-bronze-a-12: hsla(20, 99.8%, 96.4%, 0.974);

    --rdx-brown-1: hsl(22, 15.0%, 8.7%);
    --rdx-brown-2: hsl(20, 28.3%, 10.4%);
    --rdx-brown-3: hsl(20, 28.0%, 14.0%);
    --rdx-brown-4: hsl(21, 28.4%, 16.5%);
    --rdx-brown-5: hsl(22, 28.7%, 18.9%);
    --rdx-brown-6: hsl(23, 29.0%, 22.3%);
    --rdx-brown-7: hsl(25, 29.5%, 27.8%);
    --rdx-brown-8: hsl(27, 30.1%, 35.9%);
    --rdx-brown-9: hsl(28, 34.0%, 51.0%);
    --rdx-brown-10: hsl(28, 41.4%, 55.8%);
    --rdx-brown-11: hsl(28, 60.0%, 64.5%);
    --rdx-brown-12: hsl(30, 67.0%, 94.0%);

    --rdx-brown-a-1: hsla(0, 0%, 0%, 0);
    --rdx-brown-a-2: hsla(22, 99.6%, 53.6%, 0.035);
    --rdx-brown-a-3: hsla(18, 97.8%, 69.0%, 0.088);
    --rdx-brown-a-4: hsla(21, 98.2%, 71.0%, 0.123);
    --rdx-brown-a-5: hsla(25, 98.4%, 72.1%, 0.158);
    --rdx-brown-a-6: hsla(25, 98.7%, 73.5%, 0.206);
    --rdx-brown-a-7: hsla(25, 99.0%, 74.6%, 0.289);
    --rdx-brown-a-8: hsla(28, 99.2%, 75.3%, 0.407);
    --rdx-brown-a-9: hsla(28, 100%, 74.8%, 0.642);
    --rdx-brown-a-10: hsla(28, 99.9%, 74.9%, 0.712);
    --rdx-brown-a-11: hsla(28, 99.9%, 74.9%, 0.843);
    --rdx-brown-a-12: hsla(32, 98.2%, 95.7%, 0.979);

    --rdx-crimson-1: hsl(335, 20.0%, 9.6%);
    --rdx-crimson-2: hsl(335, 32.2%, 11.6%);
    --rdx-crimson-3: hsl(335, 42.5%, 16.5%);
    --rdx-crimson-4: hsl(335, 47.2%, 19.3%);
    --rdx-crimson-5: hsl(335, 50.9%, 21.8%);
    --rdx-crimson-6: hsl(335, 55.7%, 25.3%);
    --rdx-crimson-7: hsl(336, 62.9%, 30.8%);
    --rdx-crimson-8: hsl(336, 74.9%, 39.0%);
    --rdx-crimson-9: hsl(336, 80.0%, 57.8%);
    --rdx-crimson-10: hsl(339, 84.1%, 62.6%);
    --rdx-crimson-11: hsl(341, 90.0%, 67.3%);
    --rdx-crimson-12: hsl(332, 87.0%, 96.0%);

    --rdx-crimson-a-1: hsla(0, 0%, 0%, 0);
    --rdx-crimson-a-2: hsla(336, 96.8%, 53.2%, 0.045);
    --rdx-crimson-a-3: hsla(335, 98.7%, 59.3%, 0.138);
    --rdx-crimson-a-4: hsla(336, 99.1%, 59.9%, 0.191);
    --rdx-crimson-a-5: hsla(335, 99.4%, 59.4%, 0.244);
    --rdx-crimson-a-6: hsla(335, 99.4%, 59.4%, 0.315);
    --rdx-crimson-a-7: hsla(336, 99.5%, 57.8%, 0.439);
    --rdx-crimson-a-8: hsla(336, 99.9%, 55.4%, 0.642);
    --rdx-crimson-a-9: hsla(336, 99.9%, 62.8%, 0.903);
    --rdx-crimson-a-10: hsla(339, 99.9%, 66.3%, 0.934);
    --rdx-crimson-a-11: hsla(341, 99.9%, 69.5%, 0.965);
    --rdx-crimson-a-12: hsla(327, 100%, 97.1%, 0.980);

    --rdx-cyan-1: hsl(192, 60.0%, 7.2%);
    --rdx-cyan-2: hsl(192, 71.4%, 8.2%);
    --rdx-cyan-3: hsl(192, 75.9%, 10.8%);
    --rdx-cyan-4: hsl(192, 79.3%, 12.8%);
    --rdx-cyan-5: hsl(192, 82.5%, 14.6%);
    --rdx-cyan-6: hsl(192, 86.6%, 16.9%);
    --rdx-cyan-7: hsl(192, 92.6%, 20.1%);
    --rdx-cyan-8: hsl(192, 100%, 24.5%);
    --rdx-cyan-9: hsl(190, 95.0%, 39.0%);
    --rdx-cyan-10: hsl(188, 100%, 40.0%);
    --rdx-cyan-11: hsl(186, 100%, 42.2%);
    --rdx-cyan-12: hsl(185, 73.0%, 93.2%);

    --rdx-cyan-a-1: hsla(0, 0%, 0%, 0);
    --rdx-cyan-a-2: hsla(196, 100%, 50.0%, 0.031);
    --rdx-cyan-a-3: hsla(192, 98.0%, 50.9%, 0.085);
    --rdx-cyan-a-4: hsla(194, 99.6%, 51.3%, 0.133);
    --rdx-cyan-a-5: hsla(192, 99.5%, 51.3%, 0.173);
    --rdx-cyan-a-6: hsla(193, 99.7%, 50.4%, 0.226);
    --rdx-cyan-a-7: hsla(192, 100%, 50.0%, 0.310);
    --rdx-cyan-a-8: hsla(193, 100%, 50.0%, 0.425);
    --rdx-cyan-a-9: hsla(190, 99.8%, 50.8%, 0.731);
    --rdx-cyan-a-10: hsla(188, 100%, 50.0%, 0.775);
    --rdx-cyan-a-11: hsla(186, 100%, 49.9%, 0.824);
    --rdx-cyan-a-12: hsla(185, 99.8%, 95.1%, 0.978);

    --rdx-gold-1: hsl(44, 9.0%, 8.3%);
    --rdx-gold-2: hsl(43, 14.3%, 9.6%);
    --rdx-gold-3: hsl(42, 15.5%, 13.0%);
    --rdx-gold-4: hsl(41, 16.4%, 15.6%);
    --rdx-gold-5: hsl(41, 16.9%, 17.8%);
    --rdx-gold-6: hsl(40, 17.6%, 20.8%);
    --rdx-gold-7: hsl(38, 18.5%, 26.4%);
    --rdx-gold-8: hsl(36, 19.6%, 35.1%);
    --rdx-gold-9: hsl(36, 20.0%, 49.5%);
    --rdx-gold-10: hsl(36, 22.3%, 54.5%);
    --rdx-gold-11: hsl(35, 30.0%, 64.0%);
    --rdx-gold-12: hsl(49, 52.0%, 93.8%);

    --rdx-gold-a-1: hsla(0, 0%, 0%, 0);
    --rdx-gold-a-2: hsla(40, 93.7%, 70.6%, 0.022);
    --rdx-gold-a-3: hsla(40, 97.5%, 80.6%, 0.065);
    --rdx-gold-a-4: hsla(40, 95.9%, 80.8%, 0.100);
    --rdx-gold-a-5: hsla(38, 97.3%, 82.1%, 0.130);
    --rdx-gold-a-6: hsla(39, 97.2%, 82.5%, 0.169);
    --rdx-gold-a-7: hsla(37, 99.3%, 82.4%, 0.246);
    --rdx-gold-a-8: hsla(35, 98.7%, 82.2%, 0.363);
    --rdx-gold-a-9: hsla(36, 99.7%, 82.8%, 0.552);
    --rdx-gold-a-10: hsla(35, 99.2%, 83.7%, 0.613);
    --rdx-gold-a-11: hsla(35, 99.3%, 85.3%, 0.725);
    --rdx-gold-a-12: hsla(49, 98.6%, 96.7%, 0.966);

    --rdx-grass-1: hsl(146, 30.0%, 7.4%);
    --rdx-grass-2: hsl(136, 33.3%, 8.8%);
    --rdx-grass-3: hsl(137, 36.0%, 11.4%);
    --rdx-grass-4: hsl(137, 37.6%, 13.7%);
    --rdx-grass-5: hsl(136, 38.7%, 16.0%);
    --rdx-grass-6: hsl(135, 39.6%, 19.1%);
    --rdx-grass-7: hsl(134, 40.3%, 23.8%);
    --rdx-grass-8: hsl(131, 40.1%, 30.8%);
    --rdx-grass-9: hsl(131, 41.0%, 46.5%);
    --rdx-grass-10: hsl(131, 39.0%, 52.1%);
    --rdx-grass-11: hsl(131, 43.0%, 57.2%);
    --rdx-grass-12: hsl(137, 72.0%, 94.0%);

    --rdx-grass-a-1: hsla(0, 0%, 0%, 0);
    --rdx-grass-a-2: hsla(107, 97.2%, 61.9%, 0.022);
    --rdx-grass-a-3: hsla(128, 96.5%, 69.8%, 0.066);
    --rdx-grass-a-4: hsla(130, 100%, 70.2%, 0.100);
    --rdx-grass-a-5: hsla(130, 98.2%, 69.1%, 0.140);
    --rdx-grass-a-6: hsla(132, 99.9%, 69.3%, 0.187);
    --rdx-grass-a-7: hsla(132, 99.9%, 69.8%, 0.261);
    --rdx-grass-a-8: hsla(130, 99.6%, 70.5%, 0.370);
    --rdx-grass-a-9: hsla(130, 99.7%, 70.6%, 0.618);
    --rdx-grass-a-10: hsla(131, 100%, 73.5%, 0.674);
    --rdx-grass-a-11: hsla(130, 99.7%, 75.6%, 0.731);
    --rdx-grass-a-12: hsla(137, 100%, 95.8%, 0.980);

    --rdx-gray-1: hsl(0, 0%, 8.5%);
    --rdx-gray-2: hsl(0, 0%, 11.0%);
    --rdx-gray-3: hsl(0, 0%, 13.6%);
    --rdx-gray-4: hsl(0, 0%, 15.8%);
    --rdx-gray-5: hsl(0, 0%, 17.9%);
    --rdx-gray-6: hsl(0, 0%, 20.5%);
    --rdx-gray-7: hsl(0, 0%, 24.3%);
    --rdx-gray-8: hsl(0, 0%, 31.2%);
    --rdx-gray-9: hsl(0, 0%, 43.9%);
    --rdx-gray-10: hsl(0, 0%, 49.4%);
    --rdx-gray-11: hsl(0, 0%, 62.8%);
    --rdx-gray-12: hsl(0, 0%, 93.0%);

    --rdx-gray-a-1: hsla(0, 0%, 100%, 0);
    --rdx-gray-a-2: hsla(0, 0%, 100%, 0.026);
    --rdx-gray-a-3: hsla(0, 0%, 100%, 0.056);
    --rdx-gray-a-4: hsla(0, 0%, 100%, 0.077);
    --rdx-gray-a-5: hsla(0, 0%, 100%, 0.103);
    --rdx-gray-a-6: hsla(0, 0%, 100%, 0.129);
    --rdx-gray-a-7: hsla(0, 0%, 100%, 0.172);
    --rdx-gray-a-8: hsla(0, 0%, 100%, 0.249);
    --rdx-gray-a-9: hsla(0, 0%, 100%, 0.386);
    --rdx-gray-a-10: hsla(0, 0%, 100%, 0.446);
    --rdx-gray-a-11: hsla(0, 0%, 100%, 0.592);
    --rdx-gray-a-12: hsla(0, 0%, 100%, 0.923);

    --rdx-green-1: hsl(146, 30.0%, 7.4%);
    --rdx-green-2: hsl(155, 44.2%, 8.4%);
    --rdx-green-3: hsl(155, 46.7%, 10.9%);
    --rdx-green-4: hsl(154, 48.4%, 12.9%);
    --rdx-green-5: hsl(154, 49.7%, 14.9%);
    --rdx-green-6: hsl(154, 50.9%, 17.6%);
    --rdx-green-7: hsl(153, 51.8%, 21.8%);
    --rdx-green-8: hsl(151, 51.7%, 28.4%);
    --rdx-green-9: hsl(151, 55.0%, 41.5%);
    --rdx-green-10: hsl(151, 49.3%, 46.5%);
    --rdx-green-11: hsl(151, 50.0%, 53.2%);
    --rdx-green-12: hsl(137, 72.0%, 94.0%);

    --rdx-green-a-1: hsla(0, 0%, 0%, 0);
    --rdx-green-a-2: hsla(169, 100%, 48.5%, 0.027);
    --rdx-green-a-3: hsla(162, 98.7%, 57.9%, 0.070);
    --rdx-green-a-4: hsla(158, 98.6%, 59.7%, 0.105);
    --rdx-green-a-5: hsla(158, 98.6%, 60.7%, 0.140);
    --rdx-green-a-6: hsla(156, 99.9%, 62.0%, 0.187);
    --rdx-green-a-7: hsla(154, 99.5%, 63.1%, 0.257);
    --rdx-green-a-8: hsla(152, 99.7%, 64.2%, 0.370);
    --rdx-green-a-9: hsla(151, 99.7%, 63.8%, 0.605);
    --rdx-green-a-10: hsla(152, 99.9%, 66.5%, 0.661);
    --rdx-green-a-11: hsla(151, 99.7%, 69.2%, 0.740);
    --rdx-green-a-12: hsla(137, 100%, 95.8%, 0.980);

    --rdx-indigo-1: hsl(229, 24.0%, 10.0%);
    --rdx-indigo-2: hsl(230, 36.4%, 12.9%);
    --rdx-indigo-3: hsl(228, 43.3%, 17.5%);
    --rdx-indigo-4: hsl(227, 47.2%, 21.0%);
    --rdx-indigo-5: hsl(227, 50.0%, 24.1%);
    --rdx-indigo-6: hsl(226, 52.9%, 28.2%);
    --rdx-indigo-7: hsl(226, 56.0%, 34.5%);
    --rdx-indigo-8: hsl(226, 58.2%, 44.1%);
    --rdx-indigo-9: hsl(226, 70.0%, 55.5%);
    --rdx-indigo-10: hsl(227, 75.2%, 61.6%);
    --rdx-indigo-11: hsl(228, 100%, 75.9%);
    --rdx-indigo-12: hsl(226, 83.0%, 96.3%);

    --rdx-indigo-a-1: hsla(0, 0%, 0%, 0);
    --rdx-indigo-a-2: hsla(234, 97.4%, 59.9%, 0.059);
    --rdx-indigo-a-3: hsla(228, 99.2%, 61.7%, 0.144);
    --rdx-indigo-a-4: hsla(227, 99.7%, 62.0%, 0.211);
    --rdx-indigo-a-5: hsla(227, 99.2%, 62.3%, 0.270);
    --rdx-indigo-a-6: hsla(226, 99.9%, 62.1%, 0.350);
    --rdx-indigo-a-7: hsla(226, 99.9%, 62.0%, 0.471);
    --rdx-indigo-a-8: hsla(226, 99.9%, 62.1%, 0.655);
    --rdx-indigo-a-9: hsla(226, 99.9%, 63.6%, 0.848);
    --rdx-indigo-a-10: hsla(227, 99.8%, 67.7%, 0.893);
    --rdx-indigo-a-11: hsla(227, 100%, 76.3%, 0.980);
    --rdx-indigo-a-12: hsla(226, 100%, 97.5%, 0.980);

    --rdx-lime-1: hsl(75, 55.0%, 6.0%);
    --rdx-lime-2: hsl(74, 56.8%, 7.3%);
    --rdx-lime-3: hsl(78, 50.2%, 9.9%);
    --rdx-lime-4: hsl(79, 50.3%, 12.1%);
    --rdx-lime-5: hsl(79, 52.6%, 14.2%);
    --rdx-lime-6: hsl(78, 55.7%, 16.7%);
    --rdx-lime-7: hsl(77, 59.7%, 20.1%);
    --rdx-lime-8: hsl(75, 64.8%, 24.5%);
    --rdx-lime-9: hsl(81, 67.0%, 50.0%);
    --rdx-lime-10: hsl(75, 85.0%, 60.0%);
    --rdx-lime-11: hsl(81, 70.0%, 43.8%);
    --rdx-lime-12: hsl(84, 79.0%, 92.6%);

    --rdx-lime-a-1: hsla(0, 0%, 0%, 0);
    --rdx-lime-a-2: hsla(75, 96.4%, 59.6%, 0.022);
    --rdx-lime-a-3: hsla(88, 98.0%, 70.4%, 0.061);
    --rdx-lime-a-4: hsla(81, 97.8%, 67.4%, 0.096);
    --rdx-lime-a-5: hsla(82, 98.4%, 65.6%, 0.135);
    --rdx-lime-a-6: hsla(79, 99.7%, 64.3%, 0.182);
    --rdx-lime-a-7: hsla(77, 99.1%, 62.1%, 0.252);
    --rdx-lime-a-8: hsla(75, 100%, 60.0%, 0.342);
    --rdx-lime-a-9: hsla(81, 99.8%, 59.7%, 0.819);
    --rdx-lime-a-10: hsla(75, 99.8%, 63.7%, 0.936);
    --rdx-lime-a-11: hsla(81, 99.9%, 58.7%, 0.719);
    --rdx-lime-a-12: hsla(83, 100%, 94.2%, 0.980);

    --rdx-mauve-1: hsl(246, 6.0%, 9.0%);
    --rdx-mauve-2: hsl(240, 5.1%, 11.6%);
    --rdx-mauve-3: hsl(241, 5.0%, 14.3%);
    --rdx-mauve-4: hsl(242, 4.9%, 16.5%);
    --rdx-mauve-5: hsl(243, 4.9%, 18.8%);
    --rdx-mauve-6: hsl(244, 4.9%, 21.5%);
    --rdx-mauve-7: hsl(245, 4.9%, 25.4%);
    --rdx-mauve-8: hsl(247, 4.8%, 32.5%);
    --rdx-mauve-9: hsl(252, 4.0%, 45.2%);
    --rdx-mauve-10: hsl(247, 3.4%, 50.7%);
    --rdx-mauve-11: hsl(253, 4.0%, 63.7%);
    --rdx-mauve-12: hsl(256, 6.0%, 93.2%);

    --rdx-mauve-a-1: hsla(0, 0%, 0%, 0);
    --rdx-mauve-a-2: hsla(240, 76.7%, 91.2%, 0.031);
    --rdx-mauve-a-3: hsla(240, 86.0%, 95.8%, 0.061);
    --rdx-mauve-a-4: hsla(240, 91.8%, 94.7%, 0.087);
    --rdx-mauve-a-5: hsla(240, 91.5%, 95.8%, 0.113);
    --rdx-mauve-a-6: hsla(240, 92.0%, 93.8%, 0.148);
    --rdx-mauve-a-7: hsla(240, 94.8%, 95.3%, 0.191);
    --rdx-mauve-a-8: hsla(249, 98.1%, 95.2%, 0.273);
    --rdx-mauve-a-9: hsla(248, 97.6%, 96.2%, 0.416);
    --rdx-mauve-a-10: hsla(248, 95.5%, 96.6%, 0.477);
    --rdx-mauve-a-11: hsla(250, 98.0%, 98.0%, 0.615);
    --rdx-mauve-a-12: hsla(240, 93.9%, 99.6%, 0.931);

    --rdx-mint-1: hsl(173, 50.0%, 6.6%);
    --rdx-mint-2: hsl(176, 73.0%, 7.3%);
    --rdx-mint-3: hsl(175, 79.3%, 8.9%);
    --rdx-mint-4: hsl(174, 84.8%, 10.3%);
    --rdx-mint-5: hsl(174, 90.2%, 11.9%);
    --rdx-mint-6: hsl(173, 96.0%, 13.8%);
    --rdx-mint-7: hsl(172, 100%, 16.8%);
    --rdx-mint-8: hsl(170, 100%, 21.4%);
    --rdx-mint-9: hsl(167, 65.0%, 66.0%);
    --rdx-mint-10: hsl(163, 80.0%, 77.0%);
    --rdx-mint-11: hsl(167, 70.0%, 48.0%);
    --rdx-mint-12: hsl(165, 80.0%, 94.8%);

    --rdx-mint-a-1: hsla(0, 0%, 0%, 0);
    --rdx-mint-a-2: hsla(180, 100%, 49.2%, 0.031);
    --rdx-mint-a-3: hsla(176, 100%, 49.7%, 0.070);
    --rdx-mint-a-4: hsla(173, 100%, 49.7%, 0.105);
    --rdx-mint-a-5: hsla(173, 100%, 49.8%, 0.144);
    --rdx-mint-a-6: hsla(172, 100%, 49.8%, 0.192);
    --rdx-mint-a-7: hsla(171, 100%, 49.9%, 0.266);
    --rdx-mint-a-8: hsla(169, 100%, 49.9%, 0.366);
    --rdx-mint-a-9: hsla(167, 99.8%, 75.0%, 0.870);
    --rdx-mint-a-10: hsla(163, 99.9%, 80.7%, 0.948);
    --rdx-mint-a-11: hsla(167, 99.9%, 58.7%, 0.796);
    --rdx-mint-a-12: hsla(169, 100%, 96.2%, 0.980);

    --rdx-olive-1: hsl(110, 5.0%, 8.6%);
    --rdx-olive-2: hsl(105, 7.4%, 10.6%);
    --rdx-olive-3: hsl(106, 6.4%, 13.1%);
    --rdx-olive-4: hsl(106, 5.8%, 15.3%);
    --rdx-olive-5: hsl(107, 5.3%, 17.4%);
    --rdx-olive-6: hsl(107, 4.9%, 19.9%);
    --rdx-olive-7: hsl(108, 4.4%, 23.6%);
    --rdx-olive-8: hsl(110, 3.8%, 30.6%);
    --rdx-olive-9: hsl(110, 6.0%, 42.5%);
    --rdx-olive-10: hsl(111, 4.8%, 48.2%);
    --rdx-olive-11: hsl(110, 5.0%, 61.8%);
    --rdx-olive-12: hsl(110, 6.0%, 93.0%);

    --rdx-olive-a-1: hsla(0, 0%, 0%, 0);
    --rdx-olive-a-2: hsla(91, 97.0%, 84.0%, 0.026);
    --rdx-olive-a-3: hsla(101, 87.4%, 87.7%, 0.057);
    --rdx-olive-a-4: hsla(92, 91.8%, 94.1%, 0.078);
    --rdx-olive-a-5: hsla(101, 92.6%, 93.5%, 0.104);
    --rdx-olive-a-6: hsla(102, 91.1%, 94.6%, 0.130);
    --rdx-olive-a-7: hsla(102, 92.5%, 95.9%, 0.173);
    --rdx-olive-a-8: hsla(107, 100%, 96.5%, 0.250);
    --rdx-olive-a-9: hsla(110, 98.3%, 94.1%, 0.397);
    --rdx-olive-a-10: hsla(109, 99.6%, 95.3%, 0.457);
    --rdx-olive-a-11: hsla(113, 95.3%, 97.2%, 0.600);
    --rdx-olive-a-12: hsla(120, 93.5%, 99.6%, 0.927);

    --rdx-orange-1: hsl(30, 70.0%, 7.2%);
    --rdx-orange-2: hsl(28, 100%, 8.4%);
    --rdx-orange-3: hsl(26, 91.1%, 11.6%);
    --rdx-orange-4: hsl(25, 88.3%, 14.1%);
    --rdx-orange-5: hsl(24, 87.6%, 16.6%);
    --rdx-orange-6: hsl(24, 88.6%, 19.8%);
    --rdx-orange-7: hsl(24, 92.4%, 24.0%);
    --rdx-orange-8: hsl(25, 100%, 29.0%);
    --rdx-orange-9: hsl(24, 94.0%, 50.0%);
    --rdx-orange-10: hsl(24, 100%, 58.5%);
    --rdx-orange-11: hsl(24, 100%, 62.2%);
    --rdx-orange-12: hsl(24, 97.0%, 93.2%);

    --rdx-orange-a-1: hsla(0, 0%, 0%, 0);
    --rdx-orange-a-2: hsla(13, 100%, 49.7%, 0.054);
    --rdx-orange-a-3: hsla(20, 100%, 49.7%, 0.117);
    --rdx-orange-a-4: hsla(23, 100%, 49.8%, 0.166);
    --rdx-orange-a-5: hsla(23, 99.4%, 50.1%, 0.215);
    --rdx-orange-a-6: hsla(23, 99.8%, 51.1%, 0.286);
    --rdx-orange-a-7: hsla(23, 99.7%, 50.6%, 0.389);
    --rdx-orange-a-8: hsla(24, 100%, 49.9%, 0.523);
    --rdx-orange-a-9: hsla(24, 99.9%, 51.6%, 0.965);
    --rdx-orange-a-10: hsla(25, 100%, 58.6%, 0.980);
    --rdx-orange-a-11: hsla(24, 100%, 62.4%, 0.980);
    --rdx-orange-a-12: hsla(26, 100%, 94.2%, 0.980);

    --rdx-pink-1: hsl(318, 25.0%, 9.6%);
    --rdx-pink-2: hsl(319, 32.2%, 11.6%);
    --rdx-pink-3: hsl(319, 41.0%, 16.0%);
    --rdx-pink-4: hsl(320, 45.4%, 18.7%);
    --rdx-pink-5: hsl(320, 49.0%, 21.1%);
    --rdx-pink-6: hsl(321, 53.6%, 24.4%);
    --rdx-pink-7: hsl(321, 61.1%, 29.7%);
    --rdx-pink-8: hsl(322, 74.9%, 37.5%);
    --rdx-pink-9: hsl(322, 65.0%, 54.5%);
    --rdx-pink-10: hsl(323, 72.8%, 59.2%);
    --rdx-pink-11: hsl(325, 90.0%, 66.4%);
    --rdx-pink-12: hsl(322, 90.0%, 95.8%);

    --rdx-pink-a-1: hsla(0, 0%, 0%, 0);
    --rdx-pink-a-2: hsla(320, 98.1%, 64.1%, 0.036);
    --rdx-pink-a-3: hsla(320, 99.1%, 63.1%, 0.121);
    --rdx-pink-a-4: hsla(320, 99.5%, 62.7%, 0.170);
    --rdx-pink-a-5: hsla(319, 99.7%, 61.5%, 0.219);
    --rdx-pink-a-6: hsla(322, 99.4%, 60.8%, 0.291);
    --rdx-pink-a-7: hsla(321, 99.6%, 58.7%, 0.407);
    --rdx-pink-a-8: hsla(322, 99.7%, 55.4%, 0.608);
    --rdx-pink-a-9: hsla(322, 100%, 64.6%, 0.817);
    --rdx-pink-a-10: hsla(323, 100%, 66.3%, 0.875);
    --rdx-pink-a-11: hsla(325, 99.9%, 68.6%, 0.960);
    --rdx-pink-a-12: hsla(314, 100%, 96.9%, 0.980);

    --rdx-plum-1: hsl(301, 20.0%, 9.4%);
    --rdx-plum-2: hsl(300, 29.8%, 11.2%);
    --rdx-plum-3: hsl(298, 34.4%, 15.3%);
    --rdx-plum-4: hsl(297, 36.8%, 18.3%);
    --rdx-plum-5: hsl(296, 38.5%, 21.1%);
    --rdx-plum-6: hsl(295, 40.4%, 24.7%);
    --rdx-plum-7: hsl(294, 42.7%, 30.6%);
    --rdx-plum-8: hsl(292, 45.1%, 40.0%);
    --rdx-plum-9: hsl(292, 45.0%, 51.0%);
    --rdx-plum-10: hsl(295, 50.0%, 55.4%);
    --rdx-plum-11: hsl(300, 60.0%, 62.0%);
    --rdx-plum-12: hsl(296, 74.0%, 95.7%);

    --rdx-plum-a-1: hsla(0, 0%, 0%, 0);
    --rdx-plum-a-2: hsla(300, 96.4%, 58.4%, 0.036);
    --rdx-plum-a-3: hsla(300, 99.4%, 67.1%, 0.102);
    --rdx-plum-a-4: hsla(295, 99.8%, 66.3%, 0.155);
    --rdx-plum-a-5: hsla(295, 99.4%, 67.1%, 0.204);
    --rdx-plum-a-6: hsla(294, 99.0%, 67.8%, 0.262);
    --rdx-plum-a-7: hsla(294, 99.9%, 67.7%, 0.363);
    --rdx-plum-a-8: hsla(292, 99.8%, 67.5%, 0.527);
    --rdx-plum-a-9: hsla(292, 99.9%, 69.2%, 0.695);
    --rdx-plum-a-10: hsla(295, 99.9%, 70.8%, 0.748);
    --rdx-plum-a-11: hsla(300, 99.8%, 72.9%, 0.828);
    --rdx-plum-a-12: hsla(300, 100%, 97.1%, 0.980);

    --rdx-purple-1: hsl(284, 20.0%, 9.6%);
    --rdx-purple-2: hsl(283, 30.0%, 11.8%);
    --rdx-purple-3: hsl(281, 37.5%, 16.5%);
    --rdx-purple-4: hsl(280, 41.2%, 20.0%);
    --rdx-purple-5: hsl(279, 43.8%, 23.3%);
    --rdx-purple-6: hsl(277, 46.4%, 27.5%);
    --rdx-purple-7: hsl(275, 49.3%, 34.6%);
    --rdx-purple-8: hsl(272, 52.1%, 45.9%);
    --rdx-purple-9: hsl(272, 51.0%, 54.0%);
    --rdx-purple-10: hsl(273, 57.3%, 59.1%);
    --rdx-purple-11: hsl(275, 80.0%, 71.0%);
    --rdx-purple-12: hsl(279, 75.0%, 95.7%);

    --rdx-purple-a-1: hsla(0, 0%, 0%, 0);
    --rdx-purple-a-2: hsla(280, 96.5%, 57.5%, 0.045);
    --rdx-purple-a-3: hsla(279, 98.7%, 62.8%, 0.129);
    --rdx-purple-a-4: hsla(279, 99.1%, 64.0%, 0.191);
    --rdx-purple-a-5: hsla(278, 99.8%, 64.2%, 0.248);
    --rdx-purple-a-6: hsla(276, 99.6%, 64.6%, 0.328);
    --rdx-purple-a-7: hsla(274, 99.9%, 64.6%, 0.456);
    --rdx-purple-a-8: hsla(272, 99.7%, 64.6%, 0.660);
    --rdx-purple-a-9: hsla(272, 99.9%, 69.1%, 0.748);
    --rdx-purple-a-10: hsla(273, 100%, 71.3%, 0.801);
    --rdx-purple-a-11: hsla(275, 99.9%, 75.3%, 0.934);
    --rdx-purple-a-12: hsla(286, 100%, 97.1%, 0.980);

    --rdx-red-1: hsl(353, 23.0%, 9.8%);
    --rdx-red-2: hsl(357, 34.4%, 12.0%);
    --rdx-red-3: hsl(356, 43.4%, 16.4%);
    --rdx-red-4: hsl(356, 47.6%, 19.2%);
    --rdx-red-5: hsl(356, 51.1%, 21.9%);
    --rdx-red-6: hsl(356, 55.2%, 25.9%);
    --rdx-red-7: hsl(357, 60.2%, 31.8%);
    --rdx-red-8: hsl(358, 65.0%, 40.4%);
    --rdx-red-9: hsl(358, 75.0%, 59.0%);
    --rdx-red-10: hsl(358, 85.3%, 64.0%);
    --rdx-red-11: hsl(358, 100%, 69.5%);
    --rdx-red-12: hsl(351, 89.0%, 96.0%);

    --rdx-red-a-1: hsla(0, 0%, 0%, 0);
    --rdx-red-a-2: hsla(5, 98.5%, 53.8%, 0.045);
    --rdx-red-a-3: hsla(359, 99.1%, 61.1%, 0.130);
    --rdx-red-a-4: hsla(358, 98.8%, 61.0%, 0.184);
    --rdx-red-a-5: hsla(357, 99.6%, 60.3%, 0.237);
    --rdx-red-a-6: hsla(358, 99.6%, 60.3%, 0.322);
    --rdx-red-a-7: hsla(357, 100%, 59.5%, 0.442);
    --rdx-red-a-8: hsla(358, 99.8%, 59.1%, 0.621);
    --rdx-red-a-9: hsla(358, 100%, 65.5%, 0.884);
    --rdx-red-a-10: hsla(358, 100%, 67.5%, 0.942);
    --rdx-red-a-11: hsla(358, 100%, 69.7%, 0.980);
    --rdx-red-a-12: hsla(352, 100%, 97.1%, 0.980);

    --rdx-sage-1: hsl(155, 7.0%, 8.4%);
    --rdx-sage-2: hsl(150, 7.4%, 10.6%);
    --rdx-sage-3: hsl(150, 6.7%, 13.1%);
    --rdx-sage-4: hsl(150, 6.4%, 15.3%);
    --rdx-sage-5: hsl(150, 6.1%, 17.4%);
    --rdx-sage-6: hsl(150, 5.8%, 19.9%);
    --rdx-sage-7: hsl(150, 5.5%, 23.6%);
    --rdx-sage-8: hsl(150, 5.1%, 30.6%);
    --rdx-sage-9: hsl(155, 6.0%, 42.5%);
    --rdx-sage-10: hsl(153, 4.8%, 48.2%);
    --rdx-sage-11: hsl(155, 5.0%, 61.8%);
    --rdx-sage-12: hsl(155, 6.0%, 93.0%);

    --rdx-sage-a-1: hsla(0, 0%, 0%, 0);
    --rdx-sage-a-2: hsla(123, 94.4%, 91.4%, 0.026);
    --rdx-sage-a-3: hsla(123, 82.9%, 91.0%, 0.057);
    --rdx-sage-a-4: hsla(124, 97.9%, 94.5%, 0.082);
    --rdx-sage-a-5: hsla(125, 90.0%, 95.2%, 0.104);
    --rdx-sage-a-6: hsla(142, 95.1%, 94.8%, 0.134);
    --rdx-sage-a-7: hsla(143, 92.8%, 95.7%, 0.173);
    --rdx-sage-a-8: hsla(146, 94.7%, 95.3%, 0.255);
    --rdx-sage-a-9: hsla(151, 98.2%, 94.4%, 0.397);
    --rdx-sage-a-10: hsla(148, 99.5%, 95.5%, 0.457);
    --rdx-sage-a-11: hsla(152, 95.1%, 97.3%, 0.600);
    --rdx-sage-a-12: hsla(149, 93.3%, 99.6%, 0.927);

    --rdx-sand-1: hsl(61, 2.0%, 8.3%);
    --rdx-sand-2: hsl(60, 3.7%, 10.6%);
    --rdx-sand-3: hsl(58, 3.7%, 13.1%);
    --rdx-sand-4: hsl(57, 3.6%, 15.3%);
    --rdx-sand-5: hsl(56, 3.7%, 17.4%);
    --rdx-sand-6: hsl(55, 3.7%, 19.9%);
    --rdx-sand-7: hsl(53, 3.7%, 23.6%);
    --rdx-sand-8: hsl(50, 3.8%, 30.6%);
    --rdx-sand-9: hsl(50, 4.0%, 42.7%);
    --rdx-sand-10: hsl(52, 3.1%, 48.3%);
    --rdx-sand-11: hsl(50, 4.0%, 61.8%);
    --rdx-sand-12: hsl(56, 4.0%, 92.8%);

    --rdx-sand-a-1: hsla(0, 0%, 0%, 0);
    --rdx-sand-a-2: hsla(60, 89.8%, 91.4%, 0.026);
    --rdx-sand-a-3: hsla(60, 95.5%, 92.5%, 0.056);
    --rdx-sand-a-4: hsla(60, 75.6%, 96.4%, 0.078);
    --rdx-sand-a-5: hsla(60, 81.9%, 95.2%, 0.104);
    --rdx-sand-a-6: hsla(41, 87.6%, 94.8%, 0.134);
    --rdx-sand-a-7: hsla(60, 95.4%, 96.2%, 0.172);
    --rdx-sand-a-8: hsla(49, 93.5%, 95.7%, 0.254);
    --rdx-sand-a-9: hsla(52, 97.3%, 96.2%, 0.391);
    --rdx-sand-a-10: hsla(52, 97.8%, 96.7%, 0.451);
    --rdx-sand-a-11: hsla(51, 97.0%, 97.8%, 0.597);
    --rdx-sand-a-12: hsla(60, 88.7%, 99.8%, 0.923);

    --rdx-sky-1: hsl(205, 45.0%, 8.6%);
    --rdx-sky-2: hsl(202, 71.4%, 9.6%);
    --rdx-sky-3: hsl(201, 74.6%, 12.2%);
    --rdx-sky-4: hsl(201, 77.4%, 14.4%);
    --rdx-sky-5: hsl(200, 80.3%, 16.5%);
    --rdx-sky-6: hsl(200, 84.1%, 18.9%);
    --rdx-sky-7: hsl(199, 90.2%, 22.1%);
    --rdx-sky-8: hsl(198, 100%, 26.1%);
    --rdx-sky-9: hsl(193, 98.0%, 70.0%);
    --rdx-sky-10: hsl(192, 100%, 77.0%);
    --rdx-sky-11: hsl(192, 85.0%, 55.8%);
    --rdx-sky-12: hsl(198, 98.0%, 95.8%);
    --rdx-sky-a-1: hsla(0, 0%, 0%, 0);

    --rdx-sky-a-2: hsla(208, 100%, 49.8%, 0.045);
    --rdx-sky-a-3: hsla(201, 100%, 49.8%, 0.099);
    --rdx-sky-a-4: hsla(201, 100%, 50.0%, 0.148);
    --rdx-sky-a-5: hsla(200, 100%, 49.8%, 0.198);
    --rdx-sky-a-6: hsla(199, 100%, 49.9%, 0.256);
    --rdx-sky-a-7: hsla(199, 100%, 49.9%, 0.337);
    --rdx-sky-a-8: hsla(199, 100%, 50.0%, 0.453);
    --rdx-sky-a-9: hsla(192, 100%, 70.8%, 0.980);
    --rdx-sky-a-10: hsla(190, 100%, 77.6%, 0.980);
    --rdx-sky-a-11: hsla(192, 99.9%, 59.6%, 0.924);
    --rdx-sky-a-12: hsla(189, 100%, 96.8%, 0.980);

    --rdx-slate-1: hsl(200, 7.0%, 8.8%);
    --rdx-slate-2: hsl(195, 7.1%, 11.0%);
    --rdx-slate-3: hsl(197, 6.8%, 13.6%);
    --rdx-slate-4: hsl(198, 6.6%, 15.8%);
    --rdx-slate-5: hsl(199, 6.4%, 17.9%);
    --rdx-slate-6: hsl(201, 6.2%, 20.5%);
    --rdx-slate-7: hsl(203, 6.0%, 24.3%);
    --rdx-slate-8: hsl(207, 5.6%, 31.6%);
    --rdx-slate-9: hsl(206, 6.0%, 43.9%);
    --rdx-slate-10: hsl(206, 5.2%, 49.5%);
    --rdx-slate-11: hsl(206, 6.0%, 63.0%);
    --rdx-slate-12: hsl(210, 6.0%, 93.0%);
    --rdx-slate-a-1: hsla(0, 0%, 0%, 0);

    --rdx-slate-a-2: hsla(181, 98.9%, 91.8%, 0.026);
    --rdx-slate-a-3: hsla(182, 86.7%, 91.4%, 0.057);
    --rdx-slate-a-4: hsla(209, 86.7%, 93.9%, 0.083);
    --rdx-slate-a-5: hsla(200, 90.3%, 93.4%, 0.109);
    --rdx-slate-a-6: hsla(209, 95.3%, 93.5%, 0.139);
    --rdx-slate-a-7: hsla(204, 98.5%, 93.9%, 0.182);
    --rdx-slate-a-8: hsla(209, 94.0%, 94.7%, 0.265);
    --rdx-slate-a-9: hsla(207, 97.3%, 94.0%, 0.412);
    --rdx-slate-a-10: hsla(209, 99.4%, 95.2%, 0.472);
    --rdx-slate-a-11: hsla(208, 98.7%, 96.8%, 0.615);
    --rdx-slate-a-12: hsla(211, 86.7%, 99.6%, 0.927);

    --rdx-teal-1: hsl(168, 48.0%, 6.5%);
    --rdx-teal-2: hsl(169, 77.8%, 7.1%);
    --rdx-teal-3: hsl(170, 76.1%, 9.2%);
    --rdx-teal-4: hsl(171, 75.8%, 11.0%);
    --rdx-teal-5: hsl(171, 75.7%, 12.8%);
    --rdx-teal-6: hsl(172, 75.8%, 15.1%);
    --rdx-teal-7: hsl(172, 76.7%, 18.6%);
    --rdx-teal-8: hsl(173, 80.2%, 23.7%);
    --rdx-teal-9: hsl(173, 80.0%, 36.0%);
    --rdx-teal-10: hsl(174, 83.9%, 38.2%);
    --rdx-teal-11: hsl(174, 90.0%, 40.7%);
    --rdx-teal-12: hsl(166, 73.0%, 93.1%);
    --rdx-teal-a-1: hsla(0, 0%, 0%, 0);

    --rdx-teal-a-2: hsla(171, 100%, 49.2%, 0.031);
    --rdx-teal-a-3: hsla(172, 100%, 49.7%, 0.070);
    --rdx-teal-a-4: hsla(175, 100%, 49.7%, 0.105);
    --rdx-teal-a-5: hsla(174, 98.9%, 50.1%, 0.140);
    --rdx-teal-a-6: hsla(174, 100%, 51.8%, 0.187);
    --rdx-teal-a-7: hsla(173, 99.6%, 53.2%, 0.257);
    --rdx-teal-a-8: hsla(174, 99.6%, 53.3%, 0.366);
    --rdx-teal-a-9: hsla(173, 99.9%, 54.6%, 0.609);
    --rdx-teal-a-10: hsla(174, 99.9%, 53.8%, 0.670);
    --rdx-teal-a-11: hsla(174, 100%, 52.0%, 0.748);
    --rdx-teal-a-12: hsla(166, 98.6%, 95.0%, 0.979);

    --rdx-tomato-1: hsl(10, 23.0%, 9.4%);
    --rdx-tomato-2: hsl(9, 44.8%, 11.4%);
    --rdx-tomato-3: hsl(8, 52.0%, 15.3%);
    --rdx-tomato-4: hsl(7, 56.3%, 18.0%);
    --rdx-tomato-5: hsl(7, 60.1%, 20.6%);
    --rdx-tomato-6: hsl(8, 64.8%, 24.0%);
    --rdx-tomato-7: hsl(8, 71.2%, 29.1%);
    --rdx-tomato-8: hsl(10, 80.2%, 35.7%);
    --rdx-tomato-9: hsl(10, 78.0%, 54.0%);
    --rdx-tomato-10: hsl(10, 81.7%, 59.0%);
    --rdx-tomato-11: hsl(10, 85.0%, 62.8%);
    --rdx-tomato-12: hsl(10, 89.0%, 96.0%);
    --rdx-tomato-a-1: hsla(0, 0%, 0%, 0);

    --rdx-tomato-a-2: hsla(5, 100%, 49.6%, 0.058);
    --rdx-tomato-a-3: hsla(6, 99.6%, 54.9%, 0.133);
    --rdx-tomato-a-4: hsla(6, 99.2%, 55.4%, 0.191);
    --rdx-tomato-a-5: hsla(6, 99.5%, 55.8%, 0.244);
    --rdx-tomato-a-6: hsla(7, 99.7%, 55.9%, 0.319);
    --rdx-tomato-a-7: hsla(8, 99.8%, 54.8%, 0.434);
    --rdx-tomato-a-8: hsla(10, 99.8%, 53.5%, 0.598);
    --rdx-tomato-a-9: hsla(10, 100%, 59.7%, 0.885);
    --rdx-tomato-a-10: hsla(10, 100%, 63.6%, 0.916);
    --rdx-tomato-a-11: hsla(10, 99.7%, 66.4%, 0.939);
    --rdx-tomato-a-12: hsla(12, 100%, 97.1%, 0.980);

    --rdx-violet-1: hsl(250, 20.0%, 10.2%);
    --rdx-violet-2: hsl(255, 30.3%, 12.9%);
    --rdx-violet-3: hsl(253, 37.0%, 18.4%);
    --rdx-violet-4: hsl(252, 40.1%, 22.5%);
    --rdx-violet-5: hsl(252, 42.2%, 26.2%);
    --rdx-violet-6: hsl(251, 44.3%, 31.1%);
    --rdx-violet-7: hsl(250, 46.8%, 38.9%);
    --rdx-violet-8: hsl(250, 51.8%, 51.2%);
    --rdx-violet-9: hsl(252, 56.0%, 57.5%);
    --rdx-violet-10: hsl(251, 63.2%, 63.2%);
    --rdx-violet-11: hsl(250, 95.0%, 76.8%);
    --rdx-violet-12: hsl(252, 87.0%, 96.4%);
    --rdx-violet-a-1: hsla(0, 0%, 0%, 0);

    --rdx-violet-a-2: hsla(258, 98.2%, 61.0%, 0.054);
    --rdx-violet-a-3: hsla(252, 98.8%, 65.8%, 0.148);
    --rdx-violet-a-4: hsla(253, 99.7%, 65.7%, 0.219);
    --rdx-violet-a-5: hsla(252, 99.7%, 66.4%, 0.286);
    --rdx-violet-a-6: hsla(251, 99.7%, 66.2%, 0.371);
    --rdx-violet-a-7: hsla(250, 99.7%, 66.3%, 0.514);
    --rdx-violet-a-8: hsla(250, 99.7%, 66.1%, 0.733);
    --rdx-violet-a-9: hsla(252, 99.9%, 70.3%, 0.786);
    --rdx-violet-a-10: hsla(251, 99.9%, 72.9%, 0.844);
    --rdx-violet-a-11: hsla(250, 100%, 77.9%, 0.980);
    --rdx-violet-a-12: hsla(254, 100%, 97.5%, 0.980);

    --rdx-yellow-1: hsl(45, 100%, 5.5%);
    --rdx-yellow-2: hsl(46, 100%, 6.7%);
    --rdx-yellow-3: hsl(45, 100%, 8.7%);
    --rdx-yellow-4: hsl(45, 100%, 10.4%);
    --rdx-yellow-5: hsl(47, 100%, 12.1%);
    --rdx-yellow-6: hsl(49, 100%, 14.3%);
    --rdx-yellow-7: hsl(49, 90.3%, 18.4%);
    --rdx-yellow-8: hsl(50, 100%, 22.0%);
    --rdx-yellow-9: hsl(53, 92.0%, 50.0%);
    --rdx-yellow-10: hsl(54, 100%, 68.0%);
    --rdx-yellow-11: hsl(48, 100%, 47.0%);
    --rdx-yellow-12: hsl(53, 100%, 91.0%);
    --rdx-yellow-a-1: hsla(0, 0%, 0%, 0);

    --rdx-yellow-a-2: hsla(49, 100%, 49.1%, 0.027);
    --rdx-yellow-a-3: hsla(45, 100%, 49.7%, 0.071);
    --rdx-yellow-a-4: hsla(46, 100%, 49.7%, 0.111);
    --rdx-yellow-a-5: hsla(47, 100%, 49.9%, 0.150);
    --rdx-yellow-a-6: hsla(51, 100%, 49.8%, 0.199);
    --rdx-yellow-a-7: hsla(51, 99.8%, 53.6%, 0.269);
    --rdx-yellow-a-8: hsla(51, 100%, 49.9%, 0.371);
    --rdx-yellow-a-9: hsla(53, 100%, 52.0%, 0.956);
    --rdx-yellow-a-10: hsla(56, 100%, 68.4%, 0.980);
    --rdx-yellow-a-11: hsla(48, 100%, 50.0%, 0.934);
    --rdx-yellow-a-12: hsla(60, 100%, 91.8%, 0.980);
  }
}