
:root {
    /* values are same for light and dark theme */
  --white-a-1: hsla(0, 0%, 100%, 0);
  --white-a-2: hsla(0, 0%, 100%, 0.013);
  --white-a-3: hsla(0, 0%, 100%, 0.034);
  --white-a-4: hsla(0, 0%, 100%, 0.056);
  --white-a-5: hsla(0, 0%, 100%, 0.086);
  --white-a-6: hsla(0, 0%, 100%, 0.124);
  --white-a-7: hsla(0, 0%, 100%, 0.176);
  --white-a-8: hsla(0, 0%, 100%, 0.249);
  --white-a-9: hsla(0, 0%, 100%, 0.386);
  --white-a-10: hsla(0, 0%, 100%, 0.446);
  --white-a-11: hsla(0, 0%, 100%, 0.592);
  --white-a-12: hsla(0, 0%, 100%, 0.923);
  }