:root {
  --rdx-l-amber-1: hsl(39, 70%, 99%);
  --rdx-l-amber-2: hsl(40, 100%, 96.5%);
  --rdx-l-amber-3: hsl(44, 100%, 91.7%);
  --rdx-l-amber-4: hsl(43, 100%, 86.8%);
  --rdx-l-amber-5: hsl(42, 100%, 81.8%);
  --rdx-l-amber-6: hsl(38, 99.7%, 76.3%);
  --rdx-l-amber-7: hsl(36, 86.1%, 67.1%);
  --rdx-l-amber-8: hsl(35, 85.2%, 55.1%);
  --rdx-l-amber-9: hsl(39, 100%, 57%);
  --rdx-l-amber-10: hsl(35, 100%, 55.5%);
  --rdx-l-amber-11: hsl(30, 100%, 34%);
  --rdx-l-amber-12: hsl(20, 80%, 17%);

  --rdx-l-amber-a-1: hsla(40, 94.9%, 38.7%, 0.016);
  --rdx-l-amber-a-2: hsla(40, 100%, 50.3%, 0.071);
  --rdx-l-amber-a-3: hsla(44, 100%, 50.1%, 0.165);
  --rdx-l-amber-a-4: hsla(43, 100%, 50%, 0.263);
  --rdx-l-amber-a-5: hsla(42, 100%, 50%, 0.365);
  --rdx-l-amber-a-6: hsla(38, 100%, 50.1%, 0.475);
  --rdx-l-amber-a-7: hsla(36, 99.9%, 46.2%, 0.612);
  --rdx-l-amber-a-8: hsla(35, 99.8%, 46%, 0.832);
  --rdx-l-amber-a-9: hsla(39, 100%, 50%, 0.859);
  --rdx-l-amber-a-10: hsla(35, 100%, 50%, 0.891);
  --rdx-l-amber-a-11: hsla(29, 100%, 33.6%, 0.98);
  --rdx-l-amber-a-12: hsla(20, 99.8%, 14.1%, 0.965);

  --rdx-l-blue-1: hsl(206, 100%, 99.2%);
  --rdx-l-blue-2: hsl(210, 100%, 98%);
  --rdx-l-blue-3: hsl(209, 100%, 96.5%);
  --rdx-l-blue-4: hsl(210, 98.8%, 94%);
  --rdx-l-blue-5: hsl(209, 95%, 90.1%);
  --rdx-l-blue-6: hsl(209, 81.2%, 84.5%);
  --rdx-l-blue-7: hsl(208, 77.5%, 76.9%);
  --rdx-l-blue-8: hsl(206, 81.9%, 65.3%);
  --rdx-l-blue-9: hsl(206, 100%, 50%);
  --rdx-l-blue-10: hsl(208, 100%, 47.3%);
  --rdx-l-blue-11: hsl(211, 100%, 43.2%);
  --rdx-l-blue-12: hsl(211, 100%, 15%);

  --rdx-l-blue-a-1: hsla(210, 100%, 51%, 0.016);
  --rdx-l-blue-a-2: hsla(210, 100%, 51%, 0.04);
  --rdx-l-blue-a-3: hsla(210, 100%, 50.3%, 0.071);
  --rdx-l-blue-a-4: hsla(210, 100%, 50.1%, 0.118);
  --rdx-l-blue-a-5: hsla(208, 99.1%, 47.1%, 0.189);
  --rdx-l-blue-a-6: hsla(209, 99.5%, 45.3%, 0.283);
  --rdx-l-blue-a-7: hsla(208, 99.9%, 43.8%, 0.412);
  --rdx-l-blue-a-8: hsla(206, 99.8%, 45.1%, 0.632);
  --rdx-l-blue-a-9: hsla(206, 100%, 50%, 0.98);
  --rdx-l-blue-a-10: hsla(208, 100%, 47.2%, 0.98);
  --rdx-l-blue-a-11: hsla(212, 100%, 43%, 0.98);
  --rdx-l-blue-a-12: hsla(213, 100%, 14.4%, 0.98);

  --rdx-l-bronze-1: hsl(15, 30%, 99.1%);
  --rdx-l-bronze-2: hsl(17, 63.6%, 97.8%);
  --rdx-l-bronze-3: hsl(17, 42.1%, 95.2%);
  --rdx-l-bronze-4: hsl(17, 35.2%, 92.1%);
  --rdx-l-bronze-5: hsl(17, 31.5%, 88.2%);
  --rdx-l-bronze-6: hsl(17, 29%, 83%);
  --rdx-l-bronze-7: hsl(17, 26.9%, 75.6%);
  --rdx-l-bronze-8: hsl(17, 25.1%, 66.5%);
  --rdx-l-bronze-9: hsl(17, 20%, 54%);
  --rdx-l-bronze-10: hsl(17, 18.1%, 50.1%);
  --rdx-l-bronze-11: hsl(15, 20%, 43.1%);
  --rdx-l-bronze-12: hsl(12, 22%, 21.5%);

  --rdx-l-bronze-a-1: hsla(0, 89.3%, 18.3%, 0.012);
  --rdx-l-bronze-a-2: hsla(17, 95.1%, 40.1%, 0.036);
  --rdx-l-bronze-a-3: hsla(18, 98.3%, 29.8%, 0.067);
  --rdx-l-bronze-a-4: hsla(17, 99.6%, 26%, 0.106);
  --rdx-l-bronze-a-5: hsla(19, 99.6%, 23.8%, 0.157);
  --rdx-l-bronze-a-6: hsla(17, 99.2%, 22.5%, 0.22);
  --rdx-l-bronze-a-7: hsla(18, 99.7%, 21.6%, 0.31);
  --rdx-l-bronze-a-8: hsla(17, 99.5%, 20.2%, 0.42);
  --rdx-l-bronze-a-9: hsla(18, 99.9%, 16.7%, 0.553);
  --rdx-l-bronze-a-10: hsla(17, 99.2%, 15.4%, 0.589);
  --rdx-l-bronze-a-11: hsla(15, 99.9%, 13.2%, 0.655);
  --rdx-l-bronze-a-12: hsla(12, 98.7%, 5.7%, 0.832);

  --rdx-l-brown-1: hsl(30, 40%, 99.1%);
  --rdx-l-brown-2: hsl(30, 50%, 97.6%);
  --rdx-l-brown-3: hsl(30, 52.5%, 94.6%);
  --rdx-l-brown-4: hsl(30, 53%, 91.2%);
  --rdx-l-brown-5: hsl(29, 52.9%, 86.8%);
  --rdx-l-brown-6: hsl(29, 52.5%, 80.9%);
  --rdx-l-brown-7: hsl(29, 51.5%, 72.8%);
  --rdx-l-brown-8: hsl(28, 50%, 63.1%);
  --rdx-l-brown-9: hsl(28, 34%, 51%);
  --rdx-l-brown-10: hsl(27, 31.8%, 47.6%);
  --rdx-l-brown-11: hsl(25, 30%, 41%);
  --rdx-l-brown-12: hsl(20, 30%, 19%);

  --rdx-l-brown-a-1: hsla(30, 94.3%, 34.6%, 0.012);
  --rdx-l-brown-a-2: hsla(30, 94.3%, 34.6%, 0.036);
  --rdx-l-brown-a-3: hsla(30, 97.7%, 33.9%, 0.083);
  --rdx-l-brown-a-4: hsla(31, 98.5%, 34.2%, 0.134);
  --rdx-l-brown-a-5: hsla(29, 100%, 34.3%, 0.2);
  --rdx-l-brown-a-6: hsla(28, 99.2%, 34.6%, 0.291);
  --rdx-l-brown-a-7: hsla(29, 99.8%, 33.8%, 0.412);
  --rdx-l-brown-a-8: hsla(28, 100%, 33.3%, 0.553);
  --rdx-l-brown-a-9: hsla(28, 99.9%, 25.5%, 0.655);
  --rdx-l-brown-a-10: hsla(27, 99.7%, 22.4%, 0.675);
  --rdx-l-brown-a-11: hsla(25, 99.8%, 17.3%, 0.714);
  --rdx-l-brown-a-12: hsla(21, 99.4%, 6.6%, 0.867);

  --rdx-l-crimson-1: hsl(332, 100%, 99.4%);
  --rdx-l-crimson-2: hsl(330, 100%, 98.4%);
  --rdx-l-crimson-3: hsl(331, 85.6%, 96.6%);
  --rdx-l-crimson-4: hsl(331, 78.1%, 94.2%);
  --rdx-l-crimson-5: hsl(332, 72.1%, 91.1%);
  --rdx-l-crimson-6: hsl(333, 67%, 86.7%);
  --rdx-l-crimson-7: hsl(335, 63.5%, 80.4%);
  --rdx-l-crimson-8: hsl(336, 62.3%, 72.9%);
  --rdx-l-crimson-9: hsl(336, 80%, 57.8%);
  --rdx-l-crimson-10: hsl(336, 73.7%, 53.5%);
  --rdx-l-crimson-11: hsl(336, 75%, 47.2%);
  --rdx-l-crimson-12: hsl(340, 65%, 14.5%);

  --rdx-l-crimson-a-1: hsla(340, 100%, 51%, 0.012);
  --rdx-l-crimson-a-2: hsla(330, 100%, 51%, 0.032);
  --rdx-l-crimson-a-3: hsla(332, 99.1%, 47.1%, 0.063);
  --rdx-l-crimson-a-4: hsla(331, 99.9%, 44.3%, 0.102);
  --rdx-l-crimson-a-5: hsla(333, 99.9%, 42.3%, 0.153);
  --rdx-l-crimson-a-6: hsla(333, 99.5%, 40.5%, 0.224);
  --rdx-l-crimson-a-7: hsla(335, 99.7%, 39.1%, 0.322);
  --rdx-l-crimson-a-8: hsla(336, 99.5%, 38.5%, 0.44);
  --rdx-l-crimson-a-9: hsla(336, 99.9%, 44.3%, 0.761);
  --rdx-l-crimson-a-10: hsla(336, 100%, 42.5%, 0.808);
  --rdx-l-crimson-a-11: hsla(336, 99.8%, 40.3%, 0.883);
  --rdx-l-crimson-a-12: hsla(340, 99%, 10%, 0.95);

  --rdx-l-cyan-1: hsl(185, 60%, 98.7%);
  --rdx-l-cyan-2: hsl(185, 73.3%, 97.1%);
  --rdx-l-cyan-3: hsl(186, 70.2%, 94.4%);
  --rdx-l-cyan-4: hsl(186, 63.8%, 90.6%);
  --rdx-l-cyan-5: hsl(187, 58.3%, 85.4%);
  --rdx-l-cyan-6: hsl(188, 54.6%, 78.4%);
  --rdx-l-cyan-7: hsl(189, 53.7%, 68.7%);
  --rdx-l-cyan-8: hsl(189, 60.3%, 52.5%);
  --rdx-l-cyan-9: hsl(190, 95%, 39%);
  --rdx-l-cyan-10: hsl(191, 91.2%, 36.8%);
  --rdx-l-cyan-11: hsl(192, 85%, 31%);
  --rdx-l-cyan-12: hsl(192, 88%, 12.5%);

  --rdx-l-cyan-a-1: hsla(195, 95.2%, 41.2%, 0.02);
  --rdx-l-cyan-a-2: hsla(185, 99.9%, 42.3%, 0.051);
  --rdx-l-cyan-a-3: hsla(186, 97.8%, 42.2%, 0.095);
  --rdx-l-cyan-a-4: hsla(186, 99.9%, 38.5%, 0.153);
  --rdx-l-cyan-a-5: hsla(187, 99.3%, 36.6%, 0.232);
  --rdx-l-cyan-a-6: hsla(188, 99.4%, 35.4%, 0.334);
  --rdx-l-cyan-a-7: hsla(189, 99.6%, 35%, 0.483);
  --rdx-l-cyan-a-8: hsla(189, 99.9%, 37.6%, 0.761);
  --rdx-l-cyan-a-9: hsla(190, 100%, 37.8%, 0.98);
  --rdx-l-cyan-a-10: hsla(191, 99.9%, 34.6%, 0.969);
  --rdx-l-cyan-a-11: hsla(192, 100%, 27.6%, 0.953);
  --rdx-l-cyan-a-12: hsla(192, 100%, 11%, 0.98);

  --rdx-l-gold-1: hsl(50, 20%, 99.1%);
  --rdx-l-gold-2: hsl(47, 52.9%, 96.7%);
  --rdx-l-gold-3: hsl(46, 38.2%, 93.7%);
  --rdx-l-gold-4: hsl(44, 32.7%, 90.1%);
  --rdx-l-gold-5: hsl(43, 29.9%, 85.7%);
  --rdx-l-gold-6: hsl(41, 28.3%, 79.8%);
  --rdx-l-gold-7: hsl(39, 27.6%, 71.9%);
  --rdx-l-gold-8: hsl(36, 27.2%, 61.8%);
  --rdx-l-gold-9: hsl(36, 20%, 49.5%);
  --rdx-l-gold-10: hsl(36, 19.8%, 45.7%);
  --rdx-l-gold-11: hsl(36, 20%, 39%);
  --rdx-l-gold-12: hsl(36, 16%, 20%);

  --rdx-l-gold-a-1: hsla(60, 89.3%, 18.3%, 0.012);
  --rdx-l-gold-a-2: hsla(47, 99.9%, 34.6%, 0.051);
  --rdx-l-gold-a-3: hsla(45, 97%, 27.9%, 0.087);
  --rdx-l-gold-a-4: hsla(46, 98%, 25.4%, 0.134);
  --rdx-l-gold-a-5: hsla(43, 98.4%, 22.6%, 0.185);
  --rdx-l-gold-a-6: hsla(41, 99.7%, 22%, 0.259);
  --rdx-l-gold-a-7: hsla(38, 99.8%, 21.5%, 0.357);
  --rdx-l-gold-a-8: hsla(36, 99.3%, 21.5%, 0.487);
  --rdx-l-gold-a-9: hsla(36, 99.9%, 16.2%, 0.604);
  --rdx-l-gold-a-10: hsla(36, 99.2%, 14.6%, 0.636);
  --rdx-l-gold-a-11: hsla(35, 99.1%, 11.2%, 0.687);
  --rdx-l-gold-a-12: hsla(38, 98%, 3.8%, 0.832);

  --rdx-l-grass-1: hsl(116, 50%, 98.9%);
  --rdx-l-grass-2: hsl(120, 60%, 97.1%);
  --rdx-l-grass-3: hsl(120, 53.6%, 94.8%);
  --rdx-l-grass-4: hsl(121, 47.5%, 91.4%);
  --rdx-l-grass-5: hsl(122, 42.6%, 86.5%);
  --rdx-l-grass-6: hsl(124, 39%, 79.7%);
  --rdx-l-grass-7: hsl(126, 37.1%, 70.2%);
  --rdx-l-grass-8: hsl(131, 38.1%, 56.3%);
  --rdx-l-grass-9: hsl(131, 41%, 46.5%);
  --rdx-l-grass-10: hsl(132, 43.1%, 42.2%);
  --rdx-l-grass-11: hsl(133, 50%, 32.5%);
  --rdx-l-grass-12: hsl(130, 30%, 14.9%);

  --rdx-l-grass-a-1: hsla(120, 94.9%, 38.7%, 0.016);
  --rdx-l-grass-a-2: hsla(120, 94.9%, 38.7%, 0.048);
  --rdx-l-grass-a-3: hsla(120, 98%, 35.5%, 0.079);
  --rdx-l-grass-a-4: hsla(120, 98.7%, 31.5%, 0.126);
  --rdx-l-grass-a-5: hsla(122, 98.5%, 29.9%, 0.193);
  --rdx-l-grass-a-6: hsla(125, 99.2%, 27.9%, 0.283);
  --rdx-l-grass-a-7: hsla(125, 99.9%, 27%, 0.408);
  --rdx-l-grass-a-8: hsla(131, 100%, 27.6%, 0.604);
  --rdx-l-grass-a-9: hsla(131, 99.7%, 26.3%, 0.726);
  --rdx-l-grass-a-10: hsla(132, 99.9%, 24%, 0.761);
  --rdx-l-grass-a-11: hsla(133, 99.5%, 19.5%, 0.84);
  --rdx-l-grass-a-12: hsla(128, 98%, 4.9%, 0.895);

  --rdx-l-gray-1: hsl(0, 0%, 99%);
  --rdx-l-gray-2: hsl(0, 0%, 97.3%);
  --rdx-l-gray-3: hsl(0, 0%, 95.1%);
  --rdx-l-gray-4: hsl(0, 0%, 93%);
  --rdx-l-gray-5: hsl(0, 0%, 90.9%);
  --rdx-l-gray-6: hsl(0, 0%, 88.7%);
  --rdx-l-gray-7: hsl(0, 0%, 85.8%);
  --rdx-l-gray-8: hsl(0, 0%, 78%);
  --rdx-l-gray-9: hsl(0, 0%, 56.1%);
  --rdx-l-gray-10: hsl(0, 0%, 52.3%);
  --rdx-l-gray-11: hsl(0, 0%, 43.5%);
  --rdx-l-gray-12: hsl(0, 0%, 9%);
  --rdx-l-gray-a-1: hsla(0, 0%, 0%, 0.012);
  --rdx-l-gray-a-2: hsla(0, 0%, 0%, 0.027);
  --rdx-l-gray-a-3: hsla(0, 0%, 0%, 0.047);
  --rdx-l-gray-a-4: hsla(0, 0%, 0%, 0.071);
  --rdx-l-gray-a-5: hsla(0, 0%, 0%, 0.09);
  --rdx-l-gray-a-6: hsla(0, 0%, 0%, 0.114);
  --rdx-l-gray-a-7: hsla(0, 0%, 0%, 0.141);
  --rdx-l-gray-a-8: hsla(0, 0%, 0%, 0.22);
  --rdx-l-gray-a-9: hsla(0, 0%, 0%, 0.439);
  --rdx-l-gray-a-10: hsla(0, 0%, 0%, 0.478);
  --rdx-l-gray-a-11: hsla(0, 0%, 0%, 0.565);
  --rdx-l-gray-a-12: hsla(0, 0%, 0%, 0.91);

  --rdx-l-green-1: hsl(136, 50%, 98.9%);
  --rdx-l-green-2: hsl(138, 62.5%, 96.9%);
  --rdx-l-green-3: hsl(139, 55.2%, 94.5%);
  --rdx-l-green-4: hsl(140, 48.7%, 91%);
  --rdx-l-green-5: hsl(141, 43.7%, 86%);
  --rdx-l-green-6: hsl(143, 40.3%, 79%);
  --rdx-l-green-7: hsl(146, 38.5%, 69%);
  --rdx-l-green-8: hsl(151, 40.2%, 54.1%);
  --rdx-l-green-9: hsl(151, 55%, 41.5%);
  --rdx-l-green-10: hsl(152, 57.5%, 37.6%);
  --rdx-l-green-11: hsl(153, 67%, 28.5%);
  --rdx-l-green-12: hsl(155, 40%, 14%);

  --rdx-l-green-a-1: hsla(140, 94.9%, 38.7%, 0.016);
  --rdx-l-green-a-2: hsla(138, 99.9%, 38.5%, 0.051);
  --rdx-l-green-a-3: hsla(139, 97.7%, 36.9%, 0.087);
  --rdx-l-green-a-4: hsla(139, 98.5%, 32.7%, 0.134);
  --rdx-l-green-a-5: hsla(141, 100%, 30.4%, 0.2);
  --rdx-l-green-a-6: hsla(142, 99%, 28.9%, 0.295);
  --rdx-l-green-a-7: hsla(146, 99.5%, 27.6%, 0.428);
  --rdx-l-green-a-8: hsla(151, 99.5%, 28.8%, 0.644);
  --rdx-l-green-a-9: hsla(151, 99.9%, 28%, 0.812);
  --rdx-l-green-a-10: hsla(152, 99.6%, 25.8%, 0.84);
  --rdx-l-green-a-11: hsla(153, 99.9%, 21%, 0.906);
  --rdx-l-green-a-12: hsla(155, 99.4%, 6.2%, 0.918);

  --rdx-l-indigo-1: hsl(225, 60%, 99.4%);
  --rdx-l-indigo-2: hsl(223, 100%, 98.6%);
  --rdx-l-indigo-3: hsl(223, 98.4%, 97.1%);
  --rdx-l-indigo-4: hsl(223, 92.9%, 95%);
  --rdx-l-indigo-5: hsl(224, 87.1%, 92%);
  --rdx-l-indigo-6: hsl(224, 81.9%, 87.8%);
  --rdx-l-indigo-7: hsl(225, 77.4%, 82.1%);
  --rdx-l-indigo-8: hsl(226, 75.4%, 74.5%);
  --rdx-l-indigo-9: hsl(226, 70%, 55.5%);
  --rdx-l-indigo-10: hsl(226, 58.6%, 51.3%);
  --rdx-l-indigo-11: hsl(226, 55%, 45%);
  --rdx-l-indigo-12: hsl(226, 62%, 17%);

  --rdx-l-indigo-a-1: hsla(240, 92.6%, 26.5%, 0.008);
  --rdx-l-indigo-a-2: hsla(223, 100%, 51%, 0.028);
  --rdx-l-indigo-a-3: hsla(224, 100%, 50.1%, 0.059);
  --rdx-l-indigo-a-4: hsla(223, 98%, 48.5%, 0.099);
  --rdx-l-indigo-a-5: hsla(225, 98.6%, 46.4%, 0.15);
  --rdx-l-indigo-a-6: hsla(224, 99.5%, 44.9%, 0.224);
  --rdx-l-indigo-a-7: hsla(225, 99.7%, 43.9%, 0.318);
  --rdx-l-indigo-a-8: hsla(226, 99.5%, 43.1%, 0.448);
  --rdx-l-indigo-a-9: hsla(226, 100%, 41.2%, 0.757);
  --rdx-l-indigo-a-10: hsla(226, 99.8%, 37.1%, 0.773);
  --rdx-l-indigo-a-11: hsla(226, 99.6%, 31.1%, 0.797);
  --rdx-l-indigo-a-12: hsla(226, 99.3%, 11.4%, 0.938);

  --rdx-l-lime-1: hsl(85, 50%, 98.7%);
  --rdx-l-lime-2: hsl(85, 66.7%, 96.5%);
  --rdx-l-lime-3: hsl(85, 76%, 92.3%);
  --rdx-l-lime-4: hsl(84, 75.3%, 87.5%);
  --rdx-l-lime-5: hsl(84, 71.5%, 81.9%);
  --rdx-l-lime-6: hsl(82, 65%, 74.6%);
  --rdx-l-lime-7: hsl(79, 53.2%, 61.8%);
  --rdx-l-lime-8: hsl(76, 61.7%, 45.1%);
  --rdx-l-lime-9: hsl(81, 67%, 50%);
  --rdx-l-lime-10: hsl(80, 68.3%, 46.9%);
  --rdx-l-lime-11: hsl(75, 80%, 26%);
  --rdx-l-lime-12: hsl(78, 70%, 11.5%);

  --rdx-l-lime-a-1: hsla(80, 93.8%, 31.4%, 0.02);
  --rdx-l-lime-a-2: hsla(85, 99.3%, 40.2%, 0.059);
  --rdx-l-lime-a-3: hsla(84, 98.7%, 43.2%, 0.138);
  --rdx-l-lime-a-4: hsla(84, 99.6%, 43%, 0.22);
  --rdx-l-lime-a-5: hsla(85, 99.8%, 41.8%, 0.31);
  --rdx-l-lime-a-6: hsla(82, 99.8%, 39.3%, 0.42);
  --rdx-l-lime-a-7: hsla(79, 99.7%, 34.6%, 0.585);
  --rdx-l-lime-a-8: hsla(76, 99.8%, 33.7%, 0.828);
  --rdx-l-lime-a-9: hsla(81, 99.8%, 40.2%, 0.836);
  --rdx-l-lime-a-10: hsla(80, 100%, 37.6%, 0.851);
  --rdx-l-lime-a-11: hsla(75, 99.5%, 22%, 0.95);
  --rdx-l-lime-a-12: hsla(78, 99.6%, 8.4%, 0.965);

  --rdx-l-mauve-1: hsl(300, 20%, 99%);
  --rdx-l-mauve-2: hsl(300, 7.7%, 97.5%);
  --rdx-l-mauve-3: hsl(294, 5.5%, 95.3%);
  --rdx-l-mauve-4: hsl(289, 4.7%, 93.3%);
  --rdx-l-mauve-5: hsl(283, 4.4%, 91.3%);
  --rdx-l-mauve-6: hsl(278, 4.1%, 89.1%);
  --rdx-l-mauve-7: hsl(271, 3.9%, 86.3%);
  --rdx-l-mauve-8: hsl(255, 3.7%, 78.8%);
  --rdx-l-mauve-9: hsl(252, 4%, 57.3%);
  --rdx-l-mauve-10: hsl(253, 3.5%, 53.5%);
  --rdx-l-mauve-11: hsl(252, 4%, 44.8%);
  --rdx-l-mauve-12: hsl(260, 25%, 11%);

  --rdx-l-mauve-a-1: hsla(300, 89.3%, 18.3%, 0.012);
  --rdx-l-mauve-a-2: hsla(300, 78.1%, 9%, 0.028);
  --rdx-l-mauve-a-3: hsla(300, 99.5%, 7.7%, 0.051);
  --rdx-l-mauve-a-4: hsla(270, 90.5%, 6.1%, 0.071);
  --rdx-l-mauve-a-5: hsla(270, 83%, 5.2%, 0.091);
  --rdx-l-mauve-a-6: hsla(300, 93.5%, 3.7%, 0.114);
  --rdx-l-mauve-a-7: hsla(270, 82.6%, 3.3%, 0.142);
  --rdx-l-mauve-a-8: hsla(255, 95.2%, 3.7%, 0.22);
  --rdx-l-mauve-a-9: hsla(255, 94.8%, 3.7%, 0.444);
  --rdx-l-mauve-a-10: hsla(253, 96.5%, 3.8%, 0.483);
  --rdx-l-mauve-a-11: hsla(247, 97.9%, 3.2%, 0.569);
  --rdx-l-mauve-a-12: hsla(261, 98.7%, 3%, 0.918);

  --rdx-l-mint-1: hsl(165, 80%, 98.8%);
  --rdx-l-mint-2: hsl(164, 88.2%, 96.7%);
  --rdx-l-mint-3: hsl(164, 76.6%, 93.3%);
  --rdx-l-mint-4: hsl(165, 68.8%, 89.5%);
  --rdx-l-mint-5: hsl(165, 60.6%, 84.5%);
  --rdx-l-mint-6: hsl(165, 53.5%, 76.9%);
  --rdx-l-mint-7: hsl(166, 50.7%, 66.1%);
  --rdx-l-mint-8: hsl(168, 52.8%, 51%);
  --rdx-l-mint-9: hsl(167, 65%, 66%);
  --rdx-l-mint-10: hsl(167, 59.3%, 63.1%);
  --rdx-l-mint-11: hsl(172, 72%, 28.5%);
  --rdx-l-mint-12: hsl(172, 70%, 12%);

  --rdx-l-mint-a-1: hsla(168, 95.4%, 42.8%, 0.024);
  --rdx-l-mint-a-2: hsla(164, 99.1%, 47.1%, 0.063);
  --rdx-l-mint-a-3: hsla(164, 99.3%, 43.5%, 0.118);
  --rdx-l-mint-a-4: hsla(164, 99.3%, 41.3%, 0.177);
  --rdx-l-mint-a-5: hsla(165, 99%, 37.5%, 0.248);
  --rdx-l-mint-a-6: hsla(165, 100%, 35%, 0.353);
  --rdx-l-mint-a-7: hsla(166, 99.9%, 33.5%, 0.51);
  --rdx-l-mint-a-8: hsla(168, 99.6%, 34.6%, 0.75);
  --rdx-l-mint-a-9: hsla(167, 99.9%, 39.5%, 0.561);
  --rdx-l-mint-a-10: hsla(167, 99.7%, 37.4%, 0.589);
  --rdx-l-mint-a-11: hsla(172, 99.8%, 22.4%, 0.922);
  --rdx-l-mint-a-12: hsla(172, 99.7%, 8.8%, 0.965);

  --rdx-l-olive-1: hsl(110, 20%, 99%);
  --rdx-l-olive-2: hsl(120, 16.7%, 97.6%);
  --rdx-l-olive-3: hsl(119, 10.1%, 95.2%);
  --rdx-l-olive-4: hsl(118, 8.1%, 93%);
  --rdx-l-olive-5: hsl(117, 7.1%, 90.8%);
  --rdx-l-olive-6: hsl(115, 6.4%, 88.5%);
  --rdx-l-olive-7: hsl(114, 5.9%, 85.4%);
  --rdx-l-olive-8: hsl(110, 5.2%, 77.3%);
  --rdx-l-olive-9: hsl(110, 3.5%, 55.5%);
  --rdx-l-olive-10: hsl(111, 2.8%, 51.7%);
  --rdx-l-olive-11: hsl(110, 3%, 43%);
  --rdx-l-olive-12: hsl(110, 25%, 9.5%);

  --rdx-l-olive-a-1: hsla(120, 89.3%, 18.3%, 0.012);
  --rdx-l-olive-a-2: hsla(120, 87.7%, 16%, 0.028);
  --rdx-l-olive-a-3: hsla(120, 99.5%, 7.7%, 0.051);
  --rdx-l-olive-a-4: hsla(120, 92.3%, 8.5%, 0.075);
  --rdx-l-olive-a-5: hsla(120, 86%, 6.9%, 0.099);
  --rdx-l-olive-a-6: hsla(120, 94.8%, 6.8%, 0.122);
  --rdx-l-olive-a-7: hsla(120, 99.3%, 5.2%, 0.153);
  --rdx-l-olive-a-8: hsla(110, 93.8%, 5.2%, 0.24);
  --rdx-l-olive-a-9: hsla(111, 98.7%, 3%, 0.459);
  --rdx-l-olive-a-10: hsla(111, 93.5%, 2.9%, 0.499);
  --rdx-l-olive-a-11: hsla(111, 95.2%, 2.5%, 0.585);
  --rdx-l-olive-a-12: hsla(110, 97.6%, 2.6%, 0.93);

  --rdx-l-orange-1: hsl(24, 70%, 99%);
  --rdx-l-orange-2: hsl(24, 83.3%, 97.6%);
  --rdx-l-orange-3: hsl(24, 100%, 95.3%);
  --rdx-l-orange-4: hsl(25, 100%, 92.2%);
  --rdx-l-orange-5: hsl(25, 100%, 88.2%);
  --rdx-l-orange-6: hsl(25, 100%, 82.8%);
  --rdx-l-orange-7: hsl(24, 100%, 75.3%);
  --rdx-l-orange-8: hsl(24, 94.5%, 64.3%);
  --rdx-l-orange-9: hsl(24, 94%, 50%);
  --rdx-l-orange-10: hsl(24, 100%, 46.5%);
  --rdx-l-orange-11: hsl(24, 100%, 37%);
  --rdx-l-orange-12: hsl(15, 60%, 17%);

  --rdx-l-orange-a-1: hsla(20, 94.9%, 38.7%, 0.016);
  --rdx-l-orange-a-2: hsla(24, 95.8%, 46.5%, 0.044);
  --rdx-l-orange-a-3: hsla(25, 100%, 50.5%, 0.095);
  --rdx-l-orange-a-4: hsla(26, 100%, 50%, 0.157);
  --rdx-l-orange-a-5: hsla(25, 100%, 50.1%, 0.236);
  --rdx-l-orange-a-6: hsla(25, 100%, 50.1%, 0.346);
  --rdx-l-orange-a-7: hsla(24, 100%, 50.1%, 0.495);
  --rdx-l-orange-a-8: hsla(24, 99.7%, 48.7%, 0.695);
  --rdx-l-orange-a-9: hsla(24, 99.9%, 48.4%, 0.969);
  --rdx-l-orange-a-10: hsla(23, 100%, 46.4%, 0.98);
  --rdx-l-orange-a-11: hsla(23, 100%, 36.8%, 0.98);
  --rdx-l-orange-a-12: hsla(15, 99.4%, 11%, 0.934);

  --rdx-l-pink-1: hsl(322, 100%, 99.4%);
  --rdx-l-pink-2: hsl(323, 100%, 98.4%);
  --rdx-l-pink-3: hsl(323, 86.3%, 96.5%);
  --rdx-l-pink-4: hsl(323, 78.7%, 94.2%);
  --rdx-l-pink-5: hsl(323, 72.2%, 91.1%);
  --rdx-l-pink-6: hsl(323, 66.3%, 86.6%);
  --rdx-l-pink-7: hsl(323, 62%, 80.1%);
  --rdx-l-pink-8: hsl(323, 60.3%, 72.4%);
  --rdx-l-pink-9: hsl(322, 65%, 54.5%);
  --rdx-l-pink-10: hsl(322, 63.9%, 50.7%);
  --rdx-l-pink-11: hsl(322, 75%, 46%);
  --rdx-l-pink-12: hsl(320, 70%, 13.5%);

  --rdx-l-pink-a-1: hsla(320, 100%, 51%, 0.012);
  --rdx-l-pink-a-2: hsla(323, 100%, 51%, 0.032);
  --rdx-l-pink-a-3: hsla(323, 98.9%, 47.3%, 0.067);
  --rdx-l-pink-a-4: hsla(323, 99.9%, 44.3%, 0.102);
  --rdx-l-pink-a-5: hsla(324, 99.9%, 42.3%, 0.153);
  --rdx-l-pink-a-6: hsla(323, 99.5%, 39.6%, 0.224);
  --rdx-l-pink-a-7: hsla(323, 99.7%, 38.5%, 0.322);
  --rdx-l-pink-a-8: hsla(323, 99.5%, 37.7%, 0.444);
  --rdx-l-pink-a-9: hsla(322, 99.7%, 39.3%, 0.75);
  --rdx-l-pink-a-10: hsla(322, 100%, 39.1%, 0.808);
  --rdx-l-pink-a-11: hsla(322, 99.8%, 39%, 0.887);
  --rdx-l-pink-a-12: hsla(321, 99.8%, 10%, 0.961);

  --rdx-l-plum-1: hsl(292, 90%, 99.4%);
  --rdx-l-plum-2: hsl(300, 100%, 98.6%);
  --rdx-l-plum-3: hsl(299, 71.2%, 96.4%);
  --rdx-l-plum-4: hsl(299, 62%, 93.8%);
  --rdx-l-plum-5: hsl(298, 56.1%, 90.5%);
  --rdx-l-plum-6: hsl(296, 51.3%, 85.8%);
  --rdx-l-plum-7: hsl(295, 48.2%, 78.9%);
  --rdx-l-plum-8: hsl(292, 47.7%, 70.8%);
  --rdx-l-plum-9: hsl(292, 45%, 51%);
  --rdx-l-plum-10: hsl(292, 50.2%, 46.9%);
  --rdx-l-plum-11: hsl(292, 60%, 42.5%);
  --rdx-l-plum-12: hsl(291, 66%, 14%);

  --rdx-l-plum-a-1: hsla(280, 100%, 51%, 0.012);
  --rdx-l-plum-a-2: hsla(300, 100%, 51%, 0.028);
  --rdx-l-plum-a-3: hsla(300, 99%, 40.9%, 0.063);
  --rdx-l-plum-a-4: hsla(300, 99.9%, 38.5%, 0.102);
  --rdx-l-plum-a-5: hsla(298, 98.2%, 35.9%, 0.15);
  --rdx-l-plum-a-6: hsla(297, 99.6%, 33.7%, 0.216);
  --rdx-l-plum-a-7: hsla(295, 99.7%, 32.6%, 0.314);
  --rdx-l-plum-a-8: hsla(292, 99.6%, 32.4%, 0.432);
  --rdx-l-plum-a-9: hsla(292, 99.9%, 31%, 0.71);
  --rdx-l-plum-a-10: hsla(292, 99.9%, 30.8%, 0.765);
  --rdx-l-plum-a-11: hsla(292, 99.8%, 30.7%, 0.832);
  --rdx-l-plum-a-12: hsla(291, 99.9%, 9.7%, 0.953);

  --rdx-l-purple-1: hsl(280, 65%, 99.4%);
  --rdx-l-purple-2: hsl(276, 100%, 99%);
  --rdx-l-purple-3: hsl(276, 83.1%, 97%);
  --rdx-l-purple-4: hsl(275, 76.4%, 94.7%);
  --rdx-l-purple-5: hsl(275, 70.8%, 91.8%);
  --rdx-l-purple-6: hsl(274, 65.4%, 87.8%);
  --rdx-l-purple-7: hsl(273, 61%, 81.7%);
  --rdx-l-purple-8: hsl(272, 60%, 73.5%);
  --rdx-l-purple-9: hsl(272, 51%, 54%);
  --rdx-l-purple-10: hsl(272, 46.8%, 50.3%);
  --rdx-l-purple-11: hsl(272, 50%, 45.8%);
  --rdx-l-purple-12: hsl(272, 66%, 16%);

  --rdx-l-purple-a-1: hsla(300, 94.3%, 34.6%, 0.012);
  --rdx-l-purple-a-2: hsla(276, 100%, 51%, 0.02);
  --rdx-l-purple-a-3: hsla(277, 99.6%, 46.5%, 0.055);
  --rdx-l-purple-a-4: hsla(274, 97.9%, 44.3%, 0.095);
  --rdx-l-purple-a-5: hsla(276, 98.6%, 42%, 0.142);
  --rdx-l-purple-a-6: hsla(275, 100%, 39.2%, 0.2);
  --rdx-l-purple-a-7: hsla(273, 99.2%, 38.2%, 0.295);
  --rdx-l-purple-a-8: hsla(272, 99.7%, 37.6%, 0.424);
  --rdx-l-purple-a-9: hsla(272, 99.6%, 34%, 0.695);
  --rdx-l-purple-a-10: hsla(272, 99.7%, 32%, 0.73);
  --rdx-l-purple-a-11: hsla(272, 99.8%, 29.7%, 0.773);
  --rdx-l-purple-a-12: hsla(272, 99.2%, 11.3%, 0.946);

  --rdx-l-red-1: hsl(359, 100%, 99.4%);
  --rdx-l-red-2: hsl(359, 100%, 98.6%);
  --rdx-l-red-3: hsl(360, 100%, 96.8%);
  --rdx-l-red-4: hsl(360, 97.9%, 94.8%);
  --rdx-l-red-5: hsl(360, 90.2%, 91.9%);
  --rdx-l-red-6: hsl(360, 81.7%, 87.8%);
  --rdx-l-red-7: hsl(359, 74.2%, 81.7%);
  --rdx-l-red-8: hsl(359, 69.5%, 74.3%);
  --rdx-l-red-9: hsl(358, 75%, 59%);
  --rdx-l-red-10: hsl(358, 69.4%, 55.2%);
  --rdx-l-red-11: hsl(358, 65%, 48.7%);
  --rdx-l-red-12: hsl(354, 50%, 14.6%);

  --rdx-l-red-a-1: hsla(0, 100%, 51%, 0.012);
  --rdx-l-red-a-2: hsla(0, 100%, 51%, 0.032);
  --rdx-l-red-a-3: hsla(0, 100%, 50.2%, 0.063);
  --rdx-l-red-a-4: hsla(0, 100%, 50%, 0.102);
  --rdx-l-red-a-5: hsla(0, 99.9%, 47.5%, 0.153);
  --rdx-l-red-a-6: hsla(0, 99.5%, 44.9%, 0.224);
  --rdx-l-red-a-7: hsla(359, 99.7%, 42.7%, 0.318);
  --rdx-l-red-a-8: hsla(359, 99.6%, 41.1%, 0.436);
  --rdx-l-red-a-9: hsla(358, 99.9%, 42.9%, 0.718);
  --rdx-l-red-a-10: hsla(358, 99.9%, 41%, 0.761);
  --rdx-l-red-a-11: hsla(358, 99.8%, 38.3%, 0.832);
  --rdx-l-red-a-12: hsla(355, 99.3%, 7.9%, 0.926);

  --rdx-l-sage-1: hsl(155, 30%, 98.8%);
  --rdx-l-sage-2: hsl(150, 16.7%, 97.6%);
  --rdx-l-sage-3: hsl(151, 10.6%, 95.2%);
  --rdx-l-sage-4: hsl(151, 8.8%, 93%);
  --rdx-l-sage-5: hsl(151, 7.8%, 90.8%);
  --rdx-l-sage-6: hsl(152, 7.2%, 88.4%);
  --rdx-l-sage-7: hsl(153, 6.7%, 85.3%);
  --rdx-l-sage-8: hsl(154, 6.1%, 77.5%);
  --rdx-l-sage-9: hsl(155, 3.5%, 55.5%);
  --rdx-l-sage-10: hsl(154, 2.8%, 51.7%);
  --rdx-l-sage-11: hsl(155, 3%, 43%);
  --rdx-l-sage-12: hsl(155, 24%, 9%);

  --rdx-l-sage-a-1: hsla(150, 92.6%, 26.5%, 0.016);
  --rdx-l-sage-a-2: hsla(150, 87.7%, 16%, 0.028);
  --rdx-l-sage-a-3: hsla(160, 98.4%, 10.9%, 0.055);
  --rdx-l-sage-a-4: hsla(140, 92.3%, 8.5%, 0.075);
  --rdx-l-sage-a-5: hsla(160, 86%, 6.9%, 0.099);
  --rdx-l-sage-a-6: hsla(156, 95.1%, 8.2%, 0.126);
  --rdx-l-sage-a-7: hsla(156, 98.6%, 6.3%, 0.157);
  --rdx-l-sage-a-8: hsla(154, 94.6%, 6%, 0.24);
  --rdx-l-sage-a-9: hsla(154, 98.7%, 3%, 0.459);
  --rdx-l-sage-a-10: hsla(154, 93.5%, 2.9%, 0.499);
  --rdx-l-sage-a-11: hsla(154, 95.2%, 2.5%, 0.585);
  --rdx-l-sage-a-12: hsla(158, 97%, 2.4%, 0.934);

  --rdx-l-sand-1: hsl(50, 20%, 99%);
  --rdx-l-sand-2: hsl(60, 7.7%, 97.5%);
  --rdx-l-sand-3: hsl(59, 6.5%, 95.1%);
  --rdx-l-sand-4: hsl(58, 6.1%, 92.9%);
  --rdx-l-sand-5: hsl(57, 6%, 90.7%);
  --rdx-l-sand-6: hsl(56, 5.9%, 88.4%);
  --rdx-l-sand-7: hsl(55, 5.9%, 85.2%);
  --rdx-l-sand-8: hsl(51, 6%, 77.1%);
  --rdx-l-sand-9: hsl(50, 2%, 55.7%);
  --rdx-l-sand-10: hsl(55, 1.7%, 51.9%);
  --rdx-l-sand-11: hsl(50, 2%, 43.1%);
  --rdx-l-sand-12: hsl(50, 6%, 10%);

  --rdx-l-sand-a-1: hsla(60, 89.3%, 18.3%, 0.012);
  --rdx-l-sand-a-2: hsla(60, 78.1%, 9%, 0.028);
  --rdx-l-sand-a-3: hsla(60, 99%, 3.9%, 0.051);
  --rdx-l-sand-a-4: hsla(60, 88.9%, 5.9%, 0.075);
  --rdx-l-sand-a-5: hsla(60, 86%, 6.9%, 0.099);
  --rdx-l-sand-a-6: hsla(60, 93.2%, 5.2%, 0.122);
  --rdx-l-sand-a-7: hsla(60, 98.3%, 5.1%, 0.157);
  --rdx-l-sand-a-8: hsla(51, 94.1%, 6%, 0.244);
  --rdx-l-sand-a-9: hsla(60, 99.8%, 1.7%, 0.451);
  --rdx-l-sand-a-10: hsla(60, 90.7%, 1.8%, 0.491);
  --rdx-l-sand-a-11: hsla(45, 93.7%, 1.5%, 0.577);
  --rdx-l-sand-a-12: hsla(60, 98%, 0.7%, 0.906);

  --rdx-l-sky-1: hsl(193, 100%, 98.8%);
  --rdx-l-sky-2: hsl(193, 100%, 97.3%);
  --rdx-l-sky-3: hsl(193, 99%, 94.7%);
  --rdx-l-sky-4: hsl(193, 91.4%, 91.4%);
  --rdx-l-sky-5: hsl(194, 82%, 86.6%);
  --rdx-l-sky-6: hsl(194, 74.1%, 79.5%);
  --rdx-l-sky-7: hsl(194, 72.3%, 69.6%);
  --rdx-l-sky-8: hsl(193, 77.9%, 53.9%);
  --rdx-l-sky-9: hsl(193, 98%, 70%);
  --rdx-l-sky-10: hsl(193, 87%, 66.5%);
  --rdx-l-sky-11: hsl(195, 100%, 31.5%);
  --rdx-l-sky-12: hsl(195, 100%, 13%);

  --rdx-l-sky-a-1: hsla(190, 100%, 51%, 0.024);
  --rdx-l-sky-a-2: hsla(193, 100%, 50.1%, 0.055);
  --rdx-l-sky-a-3: hsla(193, 100%, 50.1%, 0.106);
  --rdx-l-sky-a-4: hsla(194, 99.6%, 47.7%, 0.165);
  --rdx-l-sky-a-5: hsla(194, 99.2%, 45.4%, 0.244);
  --rdx-l-sky-a-6: hsla(194, 99.9%, 42.3%, 0.357);
  --rdx-l-sky-a-7: hsla(194, 99.8%, 42.2%, 0.526);
  --rdx-l-sky-a-8: hsla(193, 99.9%, 43.8%, 0.82);
  --rdx-l-sky-a-9: hsla(193, 99.7%, 49.4%, 0.593);
  --rdx-l-sky-a-10: hsla(193, 99.8%, 46.6%, 0.628);
  --rdx-l-sky-a-11: hsla(196, 100%, 31.2%, 0.98);
  --rdx-l-sky-a-12: hsla(196, 100%, 12.2%, 0.98);

  --rdx-l-slate-1: hsl(206, 30%, 98.8%);
  --rdx-l-slate-2: hsl(210, 16.7%, 97.6%);
  --rdx-l-slate-3: hsl(209, 13.3%, 95.3%);
  --rdx-l-slate-4: hsl(209, 12.2%, 93.2%);
  --rdx-l-slate-5: hsl(208, 11.7%, 91.1%);
  --rdx-l-slate-6: hsl(208, 11.3%, 88.9%);
  --rdx-l-slate-7: hsl(207, 11.1%, 85.9%);
  --rdx-l-slate-8: hsl(205, 10.7%, 78%);
  --rdx-l-slate-9: hsl(206, 6%, 56.1%);
  --rdx-l-slate-10: hsl(206, 5.8%, 52.3%);
  --rdx-l-slate-11: hsl(206, 6%, 43.5%);
  --rdx-l-slate-12: hsl(206, 24%, 9%);

  --rdx-l-slate-a-1: hsla(210, 92.6%, 26.5%, 0.016);
  --rdx-l-slate-a-2: hsla(210, 87.7%, 16%, 0.028);
  --rdx-l-slate-a-3: hsla(210, 98.8%, 14.4%, 0.055);
  --rdx-l-slate-a-4: hsla(210, 94.1%, 11.1%, 0.075);
  --rdx-l-slate-a-5: hsla(216, 91.1%, 10.9%, 0.099);
  --rdx-l-slate-a-6: hsla(206, 96.4%, 11.3%, 0.126);
  --rdx-l-slate-a-7: hsla(210, 99.1%, 10.1%, 0.157);
  --rdx-l-slate-a-8: hsla(205, 96.5%, 10%, 0.244);
  --rdx-l-slate-a-9: hsla(206, 98.8%, 5.9%, 0.467);
  --rdx-l-slate-a-10: hsla(206, 99.6%, 5.4%, 0.506);
  --rdx-l-slate-a-11: hsla(206, 97%, 4.8%, 0.593);
  --rdx-l-slate-a-12: hsla(202, 97%, 2.4%, 0.934);

  --rdx-l-teal-1: hsl(165, 60%, 98.8%);
  --rdx-l-teal-2: hsl(169, 64.7%, 96.7%);
  --rdx-l-teal-3: hsl(169, 59.8%, 94%);
  --rdx-l-teal-4: hsl(169, 53.1%, 90.2%);
  --rdx-l-teal-5: hsl(170, 47.1%, 85%);
  --rdx-l-teal-6: hsl(170, 42.6%, 77.9%);
  --rdx-l-teal-7: hsl(170, 39.9%, 68.1%);
  --rdx-l-teal-8: hsl(172, 42.1%, 52.5%);
  --rdx-l-teal-9: hsl(173, 80%, 36%);
  --rdx-l-teal-10: hsl(173, 83.4%, 32.5%);
  --rdx-l-teal-11: hsl(174, 90%, 25.2%);
  --rdx-l-teal-12: hsl(170, 50%, 12.5%);

  --rdx-l-teal-a-1: hsla(165, 95.2%, 41.2%, 0.02);
  --rdx-l-teal-a-2: hsla(169, 99.5%, 39.4%, 0.055);
  --rdx-l-teal-a-3: hsla(167, 97.6%, 38.1%, 0.095);
  --rdx-l-teal-a-4: hsla(168, 98.1%, 34.6%, 0.15);
  --rdx-l-teal-a-5: hsla(170, 99.4%, 32.3%, 0.22);
  --rdx-l-teal-a-6: hsla(170, 99.7%, 30.1%, 0.314);
  --rdx-l-teal-a-7: hsla(170, 99.3%, 28.7%, 0.448);
  --rdx-l-teal-a-8: hsla(172, 99.8%, 29.7%, 0.675);
  --rdx-l-teal-a-9: hsla(173, 99.8%, 31.1%, 0.93);
  --rdx-l-teal-a-10: hsla(173, 99.7%, 28.7%, 0.946);
  --rdx-l-teal-a-11: hsla(174, 99.8%, 23.3%, 0.977);
  --rdx-l-teal-a-12: hsla(171, 98.8%, 6.8%, 0.938);

  --rdx-l-tomato-1: hsl(10, 100%, 99.4%);
  --rdx-l-tomato-2: hsl(8, 100%, 98.4%);
  --rdx-l-tomato-3: hsl(8, 100%, 96.6%);
  --rdx-l-tomato-4: hsl(8, 100%, 94.3%);
  --rdx-l-tomato-5: hsl(8, 92.8%, 91%);
  --rdx-l-tomato-6: hsl(9, 84.7%, 86.3%);
  --rdx-l-tomato-7: hsl(10, 77.3%, 79.5%);
  --rdx-l-tomato-8: hsl(10, 71.6%, 71%);
  --rdx-l-tomato-9: hsl(10, 78%, 54%);
  --rdx-l-tomato-10: hsl(10, 71.5%, 50%);
  --rdx-l-tomato-11: hsl(10, 82%, 43.5%);
  --rdx-l-tomato-12: hsl(10, 50%, 13.5%);

  --rdx-l-tomato-a-1: hsla(0, 100%, 51%, 0.012);
  --rdx-l-tomato-a-2: hsla(8, 100%, 51%, 0.032);
  --rdx-l-tomato-a-3: hsla(7, 100%, 50.2%, 0.067);
  --rdx-l-tomato-a-4: hsla(8, 100%, 50.1%, 0.114);
  --rdx-l-tomato-a-5: hsla(7, 99.5%, 47.9%, 0.173);
  --rdx-l-tomato-a-6: hsla(9, 99.9%, 46.2%, 0.255);
  --rdx-l-tomato-a-7: hsla(10, 99.8%, 43.6%, 0.365);
  --rdx-l-tomato-a-8: hsla(10, 99.5%, 41.8%, 0.499);
  --rdx-l-tomato-a-9: hsla(10, 99.9%, 43.8%, 0.82);
  --rdx-l-tomato-a-10: hsla(10, 100%, 41.8%, 0.859);
  --rdx-l-tomato-a-11: hsla(10, 99.9%, 38.8%, 0.922);
  --rdx-l-tomato-a-12: hsla(10, 99%, 7.4%, 0.934);

  --rdx-l-violet-1: hsl(255, 65%, 99.4%);
  --rdx-l-violet-2: hsl(252, 100%, 99%);
  --rdx-l-violet-3: hsl(252, 96.9%, 97.4%);
  --rdx-l-violet-4: hsl(252, 91.5%, 95.5%);
  --rdx-l-violet-5: hsl(252, 85.1%, 93%);
  --rdx-l-violet-6: hsl(252, 77.8%, 89.4%);
  --rdx-l-violet-7: hsl(252, 71%, 83.7%);
  --rdx-l-violet-8: hsl(252, 68.6%, 76.3%);
  --rdx-l-violet-9: hsl(252, 56%, 57.5%);
  --rdx-l-violet-10: hsl(251, 48.1%, 53.5%);
  --rdx-l-violet-11: hsl(250, 43%, 48%);
  --rdx-l-violet-12: hsl(254, 60%, 18.5%);

  --rdx-l-violet-a-1: hsla(270, 94.3%, 34.6%, 0.012);
  --rdx-l-violet-a-2: hsla(252, 100%, 51%, 0.02);
  --rdx-l-violet-a-3: hsla(254, 100%, 50%, 0.051);
  --rdx-l-violet-a-4: hsla(251, 98.3%, 48.2%, 0.087);
  --rdx-l-violet-a-5: hsla(252, 99%, 45.7%, 0.13);
  --rdx-l-violet-a-6: hsla(251, 99.1%, 44%, 0.189);
  --rdx-l-violet-a-7: hsla(252, 99.5%, 41.7%, 0.279);
  --rdx-l-violet-a-8: hsla(252, 100%, 40.7%, 0.4);
  --rdx-l-violet-a-9: hsla(252, 99.9%, 35.8%, 0.663);
  --rdx-l-violet-a-10: hsla(251, 99.6%, 32.5%, 0.691);
  --rdx-l-violet-a-11: hsla(250, 99.8%, 28.4%, 0.726);
  --rdx-l-violet-a-12: hsla(254, 99.5%, 11.9%, 0.926);

  --rdx-l-yellow-1: hsl(60, 54%, 98.5%);
  --rdx-l-yellow-2: hsl(52, 100%, 95.5%);
  --rdx-l-yellow-3: hsl(55, 100%, 90.9%);
  --rdx-l-yellow-4: hsl(54, 100%, 86.6%);
  --rdx-l-yellow-5: hsl(52, 97.9%, 82%);
  --rdx-l-yellow-6: hsl(50, 89.4%, 76.1%);
  --rdx-l-yellow-7: hsl(47, 80.4%, 68%);
  --rdx-l-yellow-8: hsl(48, 100%, 46.1%);
  --rdx-l-yellow-9: hsl(53, 92%, 50%);
  --rdx-l-yellow-10: hsl(50, 100%, 48.5%);
  --rdx-l-yellow-11: hsl(42, 100%, 29%);
  --rdx-l-yellow-12: hsl(40, 55%, 13.5%);

  --rdx-l-yellow-a-1: hsla(60, 94.3%, 34.6%, 0.024);
  --rdx-l-yellow-a-2: hsla(52, 100%, 50.4%, 0.091);
  --rdx-l-yellow-a-3: hsla(55, 100%, 50.2%, 0.181);
  --rdx-l-yellow-a-4: hsla(54, 100%, 50.1%, 0.267);
  --rdx-l-yellow-a-5: hsla(52, 99.9%, 49.5%, 0.357);
  --rdx-l-yellow-a-6: hsla(50, 100%, 47.4%, 0.451);
  --rdx-l-yellow-a-7: hsla(47, 99.8%, 44.6%, 0.577);
  --rdx-l-yellow-a-8: hsla(48, 100%, 46%, 0.98);
  --rdx-l-yellow-a-9: hsla(53, 100%, 48%, 0.961);
  --rdx-l-yellow-a-10: hsla(50, 100%, 48.4%, 0.98);
  --rdx-l-yellow-a-11: hsla(42, 100%, 28.6%, 0.98);
  --rdx-l-yellow-a-12: hsla(41, 98.9%, 8%, 0.942);
}
