body,
html {
  font-family: vazirmatn, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family--heading);
  line-height: 1.3;
  letter-spacing: -0.05em;
}


h1 {
  font-weight: 950;
  font-size: var(--font-size--xxl);
  letter-spacing: -0.03em;
}

h2 {
  font-size: var(--font-size--xl);
  font-weight: 900;
}

h3 {
  font-size: var(--font-size--l);
  font-weight: 900;
}

h4 {
  font-size: var(--font-size);
  font-weight: 900;
}

h5 {
  font-size: var(--font-size);
  font-weight: 700;
}


body,
p,
input,
select,
textarea,
table,
tr,
td,
th,
button,
div,
section,
main,
header,
footer {
  font-family: var(--font-family--content);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}