:root {
  /* ☀️🌘 HANDLING DARK AND LIGHT */
  --slk-ON: initial;
  --slk-OFF: ;
}

.theme\:light {
  --slk-light: var(--slk-ON);
  --slk-dark: var(--slk-OFF);
}

.theme\:dark {
  --slk-light: var(--slk-OFF);
  --slk-dark: var(--slk-ON);
}
