:root {
  --slk-max-width--page: min(90vw, 80rem);
  --slk-max-width--article: min(90vw, 55rem);

  --slk-unit-size: 1rem;
  @media screen and (max-width: 50rem) {
    --slk-unit-size: 0.8rem;
  }

  @media screen and (max-width: 30rem) {
    --slk-unit-size: 0.6rem;
  }

  $ratio: 1.5;
  --slk-ratio: $ratio;

  $pow0: 1;
  $pow1: $pow0 * $ratio;
  $pow2: $pow1 * $ratio;
  $pow3: $pow2 * $ratio;
  $pow4: $pow3 * $ratio;
  $pow5: $pow4 * $ratio;
  $pow6: $pow5 * $ratio;
  $pow7: $pow6 * $ratio;
  $pow8: $pow7 * $ratio;
  $pow9: $pow8 * $ratio;
  $pow10: $pow9 * $ratio;

  --slk-padding: calc(var(--slk-unit-size) * 1);

  --slk-padding--s: calc(var(--slk-padding) / #{$pow1});
  --slk-padding--xs: calc(var(--slk-padding) / #{$pow2});
  --slk-padding--2xs: calc(var(--slk-padding) / #{$pow3});
  --slk-padding--3xs: calc(var(--slk-padding) / #{$pow4});
  --slk-padding--4xs: calc(var(--slk-padding) / #{$pow5});
  --slk-padding--5xs: calc(var(--slk-padding) / #{$pow6});
  --slk-padding--6xs: calc(var(--slk-padding) / #{$pow7});
  --slk-padding--7xs: calc(var(--slk-padding) / #{$pow8});
  --slk-padding--8xs: calc(var(--slk-padding) / #{$pow9});
  --slk-padding--9xs: calc(var(--slk-padding) / #{$pow10});

  --slk-padding--l: calc(var(--slk-padding) * #{$pow1});
  --slk-padding--xl: calc(var(--slk-padding) * #{$pow2});
  --slk-padding--2xl: calc(var(--slk-padding) * #{$pow3});
  --slk-padding--3xl: calc(var(--slk-padding) * #{$pow4});
  --slk-padding--4xl: calc(var(--slk-padding) * #{$pow5});
  --slk-padding--5xl: calc(var(--slk-padding) * #{$pow6});
  --slk-padding--6xl: calc(var(--slk-padding) * #{$pow7});
  --slk-padding--7xl: calc(var(--slk-padding) * #{$pow8});
  --slk-padding--8xl: calc(var(--slk-padding) * #{$pow9});
  --slk-padding--9xl: calc(var(--slk-padding) * #{$pow10});

  --slk-border-radius: calc(var(--slk-unit-size) * 0.5);

  --slk-border-radius--s: calc(var(--slk-border-radius) / #{$pow1});
  --slk-border-radius--xs: calc(var(--slk-border-radius) / #{$pow2});
  --slk-border-radius--2xs: calc(var(--slk-border-radius) / #{$pow3});
  --slk-border-radius--3xs: calc(var(--slk-border-radius) / #{$pow4});
  --slk-border-radius--4xs: calc(var(--slk-border-radius) / #{$pow5});
  --slk-border-radius--5xs: calc(var(--slk-border-radius) / #{$pow6});
  --slk-border-radius--6xs: calc(var(--slk-border-radius) / #{$pow7});
  --slk-border-radius--7xs: calc(var(--slk-border-radius) / #{$pow8});
  --slk-border-radius--8xs: calc(var(--slk-border-radius) / #{$pow9});
  --slk-border-radius--9xs: calc(var(--slk-border-radius) / #{$pow10});

  --slk-border-radius--l: calc(var(--slk-border-radius) * #{$pow1});
  --slk-border-radius--xl: calc(var(--slk-border-radius) * #{$pow2});
  --slk-border-radius--2xl: calc(var(--slk-border-radius) * #{$pow3});
  --slk-border-radius--3xl: calc(var(--slk-border-radius) * #{$pow4});
  --slk-border-radius--4xl: calc(var(--slk-border-radius) * #{$pow5});
  --slk-border-radius--5xl: calc(var(--slk-border-radius) * #{$pow6});
  --slk-border-radius--6xl: calc(var(--slk-border-radius) * #{$pow7});
  --slk-border-radius--7xl: calc(var(--slk-border-radius) * #{$pow8});
  --slk-border-radius--8xl: calc(var(--slk-border-radius) * #{$pow9});
  --slk-border-radius--9xl: calc(var(--slk-border-radius) * #{$pow10});

  --slk-border-radius--pill: calc(var(--slk-unit-size) * 1000);

  --slk-gap: calc(var(--slk-unit-size) * 1);

  --slk-gap--s: calc(var(--slk-gap) / #{$pow1});
  --slk-gap--xs: calc(var(--slk-gap) / #{$pow2});
  --slk-gap--2xs: calc(var(--slk-gap) / #{$pow3});
  --slk-gap--3xs: calc(var(--slk-gap) / #{$pow4});
  --slk-gap--4xs: calc(var(--slk-gap) / #{$pow5});
  --slk-gap--5xs: calc(var(--slk-gap) / #{$pow6});
  --slk-gap--6xs: calc(var(--slk-gap) / #{$pow7});
  --slk-gap--7xs: calc(var(--slk-gap) / #{$pow8});
  --slk-gap--8xs: calc(var(--slk-gap) / #{$pow9});
  --slk-gap--9xs: calc(var(--slk-gap) / #{$pow10});

  --slk-gap--l: calc(var(--slk-gap) * #{$pow1});
  --slk-gap--xl: calc(var(--slk-gap) * #{$pow2});
  --slk-gap--2xl: calc(var(--slk-gap) * #{$pow3});
  --slk-gap--3xl: calc(var(--slk-gap) * #{$pow4});
  --slk-gap--4xl: calc(var(--slk-gap) * #{$pow5});
  --slk-gap--5xl: calc(var(--slk-gap) * #{$pow6});
  --slk-gap--6xl: calc(var(--slk-gap) * #{$pow7});
  --slk-gap--7xl: calc(var(--slk-gap) * #{$pow8});
  --slk-gap--8xl: calc(var(--slk-gap) * #{$pow9});
  --slk-gap--9xl: calc(var(--slk-gap) * #{$pow10});

  --slk-font-size: 1rem;

  --slk-font-size--s: calc(var(--slk-font-size) / #{$pow1});
  --slk-font-size--xs: calc(var(--slk-font-size) / #{$pow2});
  --slk-font-size--2xs: calc(var(--slk-font-size) / #{$pow3});
  --slk-font-size--3xs: calc(var(--slk-font-size) / #{$pow4});
  --slk-font-size--4xs: calc(var(--slk-font-size) / #{$pow5});
  --slk-font-size--5xs: calc(var(--slk-font-size) / #{$pow6});
  --slk-font-size--6xs: calc(var(--slk-font-size) / #{$pow7});
  --slk-font-size--7xs: calc(var(--slk-font-size) / #{$pow8});
  --slk-font-size--8xs: calc(var(--slk-font-size) / #{$pow9});
  --slk-font-size--9xs: calc(var(--slk-font-size) / #{$pow10});

  --slk-font-size--l: calc(var(--slk-font-size) * #{$pow1});
  --slk-font-size--xl: calc(var(--slk-font-size) * #{$pow2});
  --slk-font-size--2xl: calc(var(--slk-font-size) * #{$pow3});
  --slk-font-size--3xl: calc(var(--slk-font-size) * #{$pow4});
  --slk-font-size--4xl: calc(var(--slk-font-size) * #{$pow5});
  --slk-font-size--5xl: calc(var(--slk-font-size) * #{$pow6});
  --slk-font-size--6xl: calc(var(--slk-font-size) * #{$pow7});
  --slk-font-size--7xl: calc(var(--slk-font-size) * #{$pow8});
  --slk-font-size--8xl: calc(var(--slk-font-size) * #{$pow9});
  --slk-font-size--9xl: calc(var(--slk-font-size) * #{$pow10});

  --slk-underline-offset: 0.4em;
  --slk-text-decoration-thickness: 0.03em;
}
